@charset "UTF-8";@font-face{font-family:'FontAwesome';src:url("../fonts/fontawesome/fontawesome-webfont.eot?v=#");src:url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=#") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=#") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=#") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=##fontawesomeregular") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'Raleway-Thin';src:url("../fonts/Raleway-Thin/Raleway-Thin.eot");src:url("../fonts/Raleway-Thin/Raleway-Thin.eot?iefix") format("eot"), url("../fonts/Raleway-Thin/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway-Thin/Raleway-Thin.svg#Raleway-Thin/Raleway-Thin") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'Raleway-Black';src:url("../fonts/Raleway-Black/Raleway-Black.eot");src:url("../fonts/Raleway-Black/Raleway-Black.eot?iefix") format("eot"), url("../fonts/Raleway-Black/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black/Raleway-Black.ttf") format("truetype"), url("../fonts/Raleway-Black/Raleway-Black.svg#Raleway-Black/Raleway-Black") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'Raleway-Regular';src:url("../fonts/Raleway-Regular/Raleway-Regular.eot");src:url("../fonts/Raleway-Regular/Raleway-Regular.eot?iefix") format("eot"), url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular/Raleway-Regular") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'Raleway-Light';src:url("../fonts/Raleway-Light/Raleway-Light.eot");src:url("../fonts/Raleway-Light/Raleway-Light.eot?iefix") format("eot"), url("../fonts/Raleway-Light/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light/Raleway-Light.svg#Raleway-Light/Raleway-Light") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'Raleway-Bold';src:url("../fonts/Raleway-Bold/Raleway-Bold.eot");src:url("../fonts/Raleway-Bold/Raleway-Bold.eot?iefix") format("eot"), url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold/Raleway-Bold") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'Raleway-ExtraBold';src:url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot");src:url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot?iefix") format("eot"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway-ExtraBold/Raleway-ExtraBold") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'Raleway-Medium';src:url("../fonts/Raleway-Medium/Raleway-Medium.eot");src:url("../fonts/Raleway-Medium/Raleway-Medium.eot?iefix") format("eot"), url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium/Raleway-Medium") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'FiraSans-Regular';src:url("../fonts/FiraSans-Regular/FiraSans-Regular.eot");src:url("../fonts/FiraSans-Regular/FiraSans-Regular.eot?iefix") format("eot"), url("../fonts/FiraSans-Regular/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular/FiraSans-Regular.ttf") format("truetype"), url("../fonts/FiraSans-Regular/FiraSans-Regular.svg#FiraSans-Regular/FiraSans-Regular") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'MinionPro-It';src:url("../fonts/MinionPro-It/MinionPro-It.eot");src:url("../fonts/MinionPro-It/MinionPro-It.eot?iefix") format("eot"), url("../fonts/MinionPro-It/MinionPro-It.woff") format("woff"), url("../fonts/MinionPro-It/MinionPro-It.ttf") format("truetype"), url("../fonts/MinionPro-It/MinionPro-It.svg#MinionPro-It/MinionPro-It") format("svg");font-weight:normal;font-style:normal;}
h3, h4{font-size:16px;}
a, button, input, img, li{outline:none;}
input, textarea, button{outline:none !important;}
.navbar{min-height:0;margin-bottom:0;}
.navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:transparent;}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{color: #555;background-color: #e7e7e7;}
@media (max-width:767px){.nav > li{position:relative;display:block;width:100%;text-align:center;margin-top:7px;}
}
.nav > li a{display:inline-block;}
.navbar-nav{float:none;}
@media (max-width:767px){.navbar-nav{margin-top:20px;}
}
.navbar-default{background:transparent;border-color:transparent;border:none;-webkit-box-shadow:none;box-shadow:none;position:static;}
.navbar-default .navbar-toggle{border:none;padding:0;}
.navbar-default .navbar-toggle:hover{background:transparent;}
.navbar-default .navbar-collapse{padding:0;border:none;-webkit-transition:all ease 1s;-o-transition:all ease 1s;transition:all ease 1s;}
@media (max-width:767px){.navbar-default .navbar-collapse{position:absolute;top:0;width:65%;z-index:1;background:rgba(0, 0, 0, 0.9);height:100vh;left:-100%;height:100vh !important;}
.navbar-default .navbar-collapse.in{left:0;height:100vh;}
}
ul li{list-style-type:none;}
.flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.flex_wrap{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.align_center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.justify_content_between{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
.justify_content_end{-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;}
.no_padding_right{padding-right:0;}
.no_margin{margin:0 !important;}
.no_padding{padding:0;}
.white_text{color:#fff !important;}
.display_inline_block{display:inline-block;}
#hellopreloader_preload{display:block;position:fixed;z-index:99999;top:0;left:0;width:100%;height:100%;background-color:#4183D7;background-position:center;background-repeat:no-repeat;background-image:url(../img/oval.svg);}
header{position:relative;}
header .navigation{position:static;margin-left:-1px;}
@media (max-width:767px){header .navigation{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
}
.lang_item{background-color:#f4f4f4;box-shadow:0 1px 1px rgba(0, 0, 0, 0.35);width:32px;height:32px;border-radius:100%;margin-bottom:10px;display:flex;align-items:center;justify-content:center;color:#1171d5;font-family:"Raleway-Regular", sans-serif;font-size:0.9375em;font-weight:400;cursor:pointer;}
@media (max-width:767px){.lang-select_wrap{position:absolute;padding:0;top:50%;margin-bottom:0;margin-top:-15px;z-index:1;right:5%;}
}
.lang-select{padding:0;}
@media (min-width:768px){.lang-select{position:absolute;top:50%;margin-bottom:0;margin-top:-15px;z-index:1;}
}
.hide_lang{opacity:0;visibility:hidden;transform:scale(0);}
.show_lang{opacity:1;visibility:visible;transform:scale(1);}
.hide_lang,
.show_lang{transition:all ease .5s;}
.first_block{width:100%;background:url(../img/top_page_bg.jpg);background-size:100% 100%;}
@media (min-width:767px){.first_block{max-height:98vh;position:relative;padding-bottom: 200px;}
}
.first_block header > .container{padding-top:12px;padding-bottom:12px;}
.first_block .discuss_us{margin-bottom:15px;}
.header_border{border-bottom:1px solid rgba(244, 244, 244, 0.25);}
.logo_text_bold,
.logo_text_thin{color:#fff;font-size:2.125em;margin-bottom:0;line-height:28px;}
@media (max-width:1200px){.logo_text_bold,
.logo_text_thin{font-size:1.375em;}
}
@media (max-width:991px){.logo_text_bold,
.logo_text_thin{line-height:16px;}
}
@media (max-width:767px){.logo_text_bold,
.logo_text_thin{text-align:center;}
}
.logo_text_bold{font-family:"Raleway-Black", sans-serif;font-weight:900;text-transform:uppercase;}
.logo_text_thin{font-family:"Raleway-Thin", sans-serif;font-weight:100;font-variant:small-caps;letter-spacing:8px;}
@media (max-width:1200px){.logo_text_thin{letter-spacing:5px;}
}
@media (max-width:991px){.navbar-default{margin-top:15px;}
}
@media (max-width:991px) and (min-width:768px){.navbar-default .navbar-nav{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
}
@media (min-width:768px){.navbar-default .navbar-nav > li.dropdown:hover .dropdown-menu{opacity:1;visibility:visible;z-index:1000;}
}
.navbar-default .navbar-nav > li .dropdown-menu{padding:22px 20px;}
@media (max-width:767px){.navbar-default .navbar-nav > li .dropdown-menu{padding-left:0;}
}
@media (min-width:768px){.navbar-default .navbar-nav > li .dropdown-menu{display:inherit;opacity:0;visibility:hidden;z-index:0;-webkit-transition:all ease .5s;-o-transition:all ease .5s;transition:all ease .5s;}
}
.navbar-default .navbar-nav > li .dropdown-menu li{padding-bottom:20px;line-height:15px;}
.navbar-default .navbar-nav > li .dropdown-menu li:last-child{padding-bottom:0;}
.navbar-default .navbar-nav > li .dropdown-menu li a{padding:0;font-family:"Raleway-Regular", sans-serif;font-size:0.9375em;line-height:15px;color:#15191d;font-weight:400;}
.navbar-default .navbar-nav > li .dropdown-menu li a:hover{color:#1381e7;font-weight:700;background:transparent;}
.navbar-default .navbar-nav > li > a{color:#fefefe;font-family:"Raleway-Regular", sans-serif;font-size:1em;font-weight:400;padding:5px 35px;-webkit-transition:all ease .5s;-o-transition:all ease .5s;transition:all ease .5s;border-radius:16px;}
/*.navbar-default .navbar-nav > li > a:hover{background-color:#1171d5;color:#fefefe;}*/
@media (max-width:1200px){.navbar-default .navbar-nav > li > a{font-size:14px;font-weight:400;padding:5px 28px;}
}
.navbar-default .navbar-nav > .active > a{background-color:#1171d5;border-radius:16px;background-image:none;-webkit-box-shadow:none;box-shadow:none;color:#fefefe;}
.ham{background:none;position:relative;min-width:50px;min-height:50px;padding:0;border:0;border-radius:100%;outline:none;cursor:pointer;-webkit-transition:all 250ms;-o-transition:all 250ms;transition:all 250ms;}
@media (max-width:767px){.ham{display:block;overflow:hidden;}
}
.ham:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;border:5px solid #fff;border-radius:100%;-webkit-clip-path:polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);clip-path:polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);}
.ham > .bar{display:block;background:#fff;position:absolute;left:10px;width:70%;height:5px;border-radius:6px;-webkit-transition:all 350ms;-o-transition:all 350ms;transition:all 350ms;}
.ham > .bar:first-child{top:23%;-webkit-transition-delay:400ms;-o-transition-delay:400ms;transition-delay:400ms;-webkit-transform-origin:top right;-ms-transform-origin:top right;transform-origin:top right;}
.ham > .bar:nth-child(2){top:47%;-webkit-transition-delay:300ms;-o-transition-delay:300ms;transition-delay:300ms;}
.ham > .bar:last-child{bottom:20%;-webkit-transition-delay:400ms;-o-transition-delay:400ms;transition-delay:400ms;-webkit-transform-origin:bottom right;-ms-transform-origin:bottom right;transform-origin:bottom right;}
.ham.opened:before{-webkit-animation:open-close 400ms 300ms forwards ease-in;animation:open-close 400ms 300ms forwards ease-in;}
.ham.opened:active{-webkit-transform:scale(0.85);-ms-transform:scale(0.85);transform:scale(0.85);}
.ham.opened > .bar{-webkit-transition-delay:0ms;-o-transition-delay:0ms;transition-delay:0ms;left:2px;-webkit-transform:rotate(-44deg);-ms-transform:rotate(-44deg);transform:rotate(-44deg);}
.ham.opened > .bar:nth-child(2){left:150px;width:0%;}
.ham.opened > .bar:last-child{bottom:20%;left:1px;-webkit-transform:rotate(44deg);-ms-transform:rotate(44deg);transform:rotate(44deg);}
.ham.closed:before{-webkit-animation:open-close 400ms forwards reverse ease-out;animation:open-close 400ms forwards reverse ease-out;}
@-webkit-keyframes open-close{0%{-webkit-clip-path:polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);clip-path:polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);}
25%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);clip-path:polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);}
50%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);}
75%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);}
100%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);}
}
@keyframes open-close{0%{-webkit-clip-path:polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);clip-path:polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);}
25%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);clip-path:polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);}
50%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);}
75%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);}
100%{-webkit-clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);clip-path:polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);}
}

.background-lines{
    position: absolute;
    width: 100%;
    height: 100%;
}

.background-lines > .background-line-col{
    height: 100%;
    margin: 0;
    padding: 0;
    border-right: 1px solid #e5e5e6;
    z-index: -1;
}

.first_block_inner{margin-top:85px;}
@media (max-width:1365px){.first_block_inner{margin-top:50px;}
}
@media (max-width:991px){.first_block_inner{margin-top:30px;}
}
.first_bold_text_yellow,
.first_bold_text{font-family:"Raleway-Black", sans-serif;font-weight:900;}
.first_bold_text{font-size:4em;line-height:70px;color:#fff;position:relative;}
@media (max-width:767px){.first_bold_text:nth-child(2){display:inline-block;}
}
.first_bold_text .bubble_effect_inner{position:absolute;right:-70px;bottom:0;}
@media (max-width:1199px){.first_bold_text .bubble_effect_inner{right:17px;bottom:35px;width:100px;}
}
@media (max-width:991px){.first_bold_text .bubble_effect_inner{right:-95px;bottom:20px;}
}
@media (max-width:767px){.first_bold_text .bubble_effect_inner{right:-35px;bottom:-15px;width:55px;}
}
@media (max-width:1199px){.first_bold_text{font-size:2.8em;}
}
@media (max-width:767px){.first_bold_text{font-size:2em;line-height:32px;}
}
.first_bold_text_yellow{font-size:1.75em;color:#fffb4b;margin-top:20px;line-height:28px;}
@media (max-width:767px){.first_bold_text_yellow{font-size:1.375em;}
}
.first_italic_text{font-family:"MinionPro-It", sans-serif;letter-spacing:9px;}
.first_regular_text{color:#fff;font-family:"Raleway-Light", sans-serif;font-size:1.625em;line-height:32px;font-weight:300;}
@media (max-width:1199px){.first_regular_text{font-size:1.1375em;}
}
@media (max-width:767px){.first_regular_text{font-size:0.875em;line-height:20px;}
}
.first_head,
.first_regular_text{margin-bottom:60px;}
@media (max-width:991px){.first_head,
.first_regular_text{margin-bottom:30px;}
}
@media (max-width:767px){.mac_img{margin-top:15px;}
}
.discuss_us{text-shadow:0 1px 1px rgba(253, 79, 63, 1) ;color:#fff;font-family:"Raleway-Bold", sans-serif;font-size:0.9375em;font-weight:700;text-transform:uppercase;letter-spacing:3px;background-color:#f4f4f4;background-image:-webkit-gradient(linear, left top, right top, from(#FD4F3F), to(#FD4F3F));background-image:-webkit-linear-gradient(left, #FD4F3F 0%, #FD4F3F 100%);background-image:-o-linear-gradient(left, #FD4F3F 0%, #FD4F3F 100%);background-image:linear-gradient(to right, #FD4F3F 0%, #FD4F3F 100%);border-radius:40px;padding:14px 58px 14px 40px;position:relative;display:inline-block;border:none;position:relative;overflow:hidden;}
.discuss_us.left:after{left:0;}
.discuss_us.bubble:after{content:"";background:#fff;position:absolute;width:250px;height:250px;left:0;right:0;top:0;bottom:0;opacity:0;margin:auto;border-radius:50%;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);-webkit-transition:all .75s ease-in-out;-o-transition:all .75s ease-in-out;transition:all .75s ease-in-out;}
.discuss_us.bubble:active:after{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);opacity:1;-webkit-transition:0s;-o-transition:0s;transition:0s;}
.discuss_us:hover{color:#fff;text-decoration:none;}
.discuss_us:hover span:after{-webkit-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
.discuss_us span{position:relative;}
.discuss_us span:after{content:'';display:inline-block;position:absolute;background:url(../img/discuss_icon.png);background-repeat:no-repeat;width:37px;height:37px;right:-50px;top:50%;margin-top:-18px;-webkit-transition:all ease .5s;-o-transition:all ease .5s;transition:all ease .5s;}
@media (max-width:767px){.discuss_us{font-size:0.875em;}
}
.see_more{display:block;position:absolute;left:50%;margin-left:-18px;bottom:-19px;}
@media (max-width:767px){.see_more{position:relative;display:inline-block;}
}
.see_more img{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.second_block{background-color:#f6f9fd;padding:100px 0;}
@media (max-width:991px){.second_block{padding:50px 0;}
}
.second_block_item_img{display:block;width:100%;-webkit-box-shadow:0 15px 30px rgba(0, 0, 0, 0.15);box-shadow:0 15px 30px rgba(0, 0, 0, 0.15);border-radius:100%;padding:15px;line-height:0;-webkit-transition:all ease .5s;-o-transition:all ease .5s;transition:all ease .5s;}
.second_block_item_img svg{-webkit-transition:all ease .5s;-o-transition:all ease .5s;transition:all ease .5s;fill:#07c9f3;}
.second_block_item_img:hover,
.svg_hover{background-image: linear-gradient(130deg, #1286e8 25%, #07ccf3 100%);}
.second_block_item_img:hover svg,
.svg_hover svg{fill:#fff;}
.second_block_headings{color:#201f1f;font-family:"Raleway-ExtraBold", sans-serif;font-size:1.25em;font-weight:700;line-height:27px;margin-bottom:20px;}
.second_block_headings:hover{color:#201f1f;text-decoration:none;}
.second_block_text{color:#747984;font-family:"Raleway-Regular", sans-serif;font-size:1em;font-weight:400;line-height:22px;}
.second_block_item{margin-bottom:30px;}
.second_block_item:nth-child(5){margin-bottom:0;}
.second_block_item:nth-child(6){margin-bottom:0;}
@media (max-width:991px){.second_block_item{margin-bottom:30px;}
.second_block_item:nth-child(5){margin-bottom:30px;}
.second_block_item:nth-child(6){margin-bottom:30px;}
}
@media (max-width:767px){.second_block_item:first-child{margin-top:30px;}
}
.powers{color:#898e97;font-family:"Raleway-Medium", sans-serif;font-size:0.6875em;font-weight:500;text-transform:uppercase;letter-spacing:2px;margin-bottom:30px;}
.profi{color:#000;font-size:1.875em;font-family:"Raleway-Light", sans-serif;margin-bottom:7px;}
.profi_bold{font-family:"Raleway-Black", sans-serif;}
.profi_bold span{font-family:"MinionPro-It", sans-serif;}
/*.third_block_wrapper{background-image:url(../img/third_block_shape.jpg);background-size:cover;}*/
.third_block{background-image:url(../img/third_block_bg.png);background-position:center left;background-repeat:no-repeat;background-size:contain;}
.third_block .third_block_padding{padding:85px 0 100px 0;}
@media (max-width:991px){.third_block{background-image:none;}
}
.some_about_us,
.how_we_work{font-family:"Raleway-Medium", sans-serif;font-size:0.6875em;font-weight:500;text-transform:uppercase;letter-spacing:3px;padding-left:60px;margin-bottom:20px;}
.some_about_us{color:#201f1f;}
.how_we_work{color:#fff;text-align:center;}
.we_are{color:#747984;font-family:"Raleway-Regular", sans-serif;font-size:0.6875em;font-weight:400;text-transform:uppercase;margin-top:45px;margin-bottom:18px;}
.third_block_head{font-family:"Raleway-Light", sans-serif;font-size:2.1875em;color:#60656f;font-weight:300;margin-bottom:18px;}
.third_block_head span{font-family:"Raleway-Black", sans-serif;color:#1381e7;font-weight:900;}
.tird_block_list{margin-top:55px;padding-left:0;}
.tird_block_list li{color:#747984;font-family:"Raleway-Regular", sans-serif;font-size:1em;font-weight:400;line-height:1.625em;}
.third_block_btn{margin-top:55px;}
.fourth_block{background:url(../img/fourth_block.jpg);background-size:cover;padding:55px 0 110px 0;}
.fourth_block .profi{padding:0 15px;}
.fourth_block .how_we_work{padding:0;}
@media (max-width:991px){.fourth_block .fourth_block_flex_item{margin-bottom:20px;}
}
.fourth_block_item.first{background-image:url(../img/bubble_1.png);}
.fourth_block_item.second{background-image:url(../img/bubble_2.png);}
.fourth_block_item.third{background-image:url(../img/bubble_3.png);}
.fourth_block_item.fourth{background-image:url(../img/bubble_4.png);}
@media (max-width:991px){.fourth_block_item.first,
.fourth_block_item.second,
.fourth_block_item.third,
.fourth_block_item.fourth{background-image:none;}
}
.fourth_block_item{background-color:#fff;border:3px solid #fff;-webkit-box-shadow:0 10px 15px rgba(30, 58, 221, 0.57);box-shadow:0 10px 15px rgba(30, 58, 221, 0.57);padding-top:40px;background-position:bottom;background-size:contain;background-position:bottom center;background-repeat:no-repeat;margin-top:50px;height:100%; transition: .7s}
.fourth_block_item:hover{-webkit-box-shadow:0 0 0 transparent;box-shadow:0 0 0 transparent;}
.fourth_block_item svg{margin:0 auto;fill:#1576e5;width:75px;height:75px;display:block;}
.fourth_block_item li{color:#747984;font-family:"Raleway-Regular", sans-serif;font-size:1.125em;font-weight:400;margin-bottom:20px;padding:0 20px;}
@media (min-width:992px) and (max-width:1199px){.fourth_block_item li{font-size:1em;padding:0 15px;}
}
.fourth_item_head{color:#000;font-family:"Raleway-Black", sans-serif;font-size:1.5em;font-weight:900;line-height:27px;margin-bottom:20px;margin-top:20px;}
@media (min-width:992px) and (max-width:1199px){.fourth_item_head{font-size:1.25em;}
}
.fifth_block{padding:70px 0;display:inline-block;width:100%;background-color:#f6f9fd;}
.fifth_block .fifth_block_profi_first{margin-bottom:90px;}
.fifth_block .fifth_block_profi_second{margin-top:90px;}
.fifth_block .some_about_us{padding:0;}
.fifth_block .regular{padding-top:30px;padding-bottom:30px;padding-left:0;}
.fifth_block .slide_container{margin-bottom:20px;}
.fifth_block .slide_container .slick-next{right:10px;}
.fifth_block .slide_container .slick-prev{left:10px;z-index:1;}
.fifth_block .slide_container .slider_item{padding-right:7px;padding-left:7px;padding-bottom:15px;text-align:center;}
@media (max-width:767px){.fifth_block .slide_container .slider_item{padding:0;}
}
.fifth_block .slide_container .slider_item img{display:inline-block;}
@media (max-width:767px){.fifth_block .slide_container .slider_item img{max-width:85%;}
}
.fifth_block .slide_container .slider_item a{outline:none;}
.regular{position:relative;}
.regular .slick-track{display:flex;align-items:center;}
.regular .slick-prev,
.regular .slick-next{position:absolute;top:50%;margin-top:-18px;width:36px;height:36px;background-color:white;-webkit-box-shadow:0 1px 1px #1bb4f3;box-shadow:0 1px 1px #1bb4f3;border-radius:100%;border:none;color:transparent;outline:none;padding:13px;z-index:1;}
.regular img{margin:0 auto;}
.regular .slick-prev{left:0;}
.regular .slick-prev:before{content:'';display:block;background:url(../img/slick_prev.png);background-repeat:no-repeat;background-size:100% 100%;height:12px;width:7px;}
.regular .slick-next{right:0;}
.regular .slick-next:before{content:'';display:block;background:url(../img/slick_next.png);background-repeat:no-repeat;background-size:100% 100%;height:12px;width:7px;margin-left:3px;}
.done_projects{padding:0;justify-content:center;}
.done_projects li{display:inline-block;width:12%;margin-right:1%;margin-top:25px;}
@media (max-width:767px){.done_projects li{margin-right:0;margin-top:0;}
}
.done_projects li img{max-width:100%;height:auto;}
/*.sixth_block_wrapper{background-image:url(../img/sixth_block_shape.jpg);background-size:cover;}*/
.sixth_block_wrapper{position: relative;}
@media (max-width:991px) and (min-width:768px){.sixth_block_wrapper .discuss_us span:after{right:-40px;}
}
.sixth_block_wrapper .sixth_block{padding-bottom:170px;}
@media (max-width:767px){.sixth_block_wrapper .sixth_block{padding-bottom:50px;}
}
@media (min-width:768px) and (max-width:991px){.sixth_block_wrapper .sixth_block .discuss_us{padding:17px 45px 17px 20px;position:relative;display:inline-block;letter-spacing:1px;font-size:14px;}
}
@media (min-width:992px) and (max-width:1199px){.sixth_block_wrapper .sixth_block .discuss_us{letter-spacing:2px;}
}
.sixth_block_wrapper .sixth_item:first-child .discuss_us span:after{background:url(../img/give_me_call.png);}
.sixth_block_wrapper .sixth_item:nth-child(2) .discuss_us span:after{background:url(../img/give_me_letter.png);}
.sixth_block_wrapper .sixth_item:last-child .discuss_us span:after{background:url(../img/give_me_breef.png);}
@media (max-width:767px){.sixth_block_wrapper .sixth_item{margin-bottom:15px;}
}
.sixth_block_wrapper .sixth_item img{margin:0 auto;}
.pinguin_bg{padding:120px 0;background-image:url(../img/pinguin_bg.png);background-repeat:no-repeat;background-position:center;}
@media (max-width:767px){.pinguin_bg{padding:50px 0;}
}
footer{background-color:#15191d;padding:35px 0 65px 0;}
@media (max-width:767px){footer{padding:25px 0;}
}
footer .footer_text_for_robots{text-shadow:0 1px 5px rgba(0, 0, 0, 0.35);color:#e3e3e3;font-family:"Raleway-Regular", sans-serif;font-size:1em;font-weight:400;line-height:26px;}
@media (max-width:767px){footer .footer_text_for_robots{font-size:0.9375em;line-height:20px;}
}
footer .footer_contacts_line{margin-left:0;margin-right:0;margin-bottom:30px;}
@media (max-width:767px){footer .footer_contacts_line{margin-bottom:15px;}
}
footer h3{text-shadow:0 1px 5px rgba(0, 0, 0, 0.35);color:#fff;font-family:"Raleway-Regular", sans-serif;font-size:1.5625em;font-weight:400;line-height:25px;padding-bottom:25px;position:relative;margin-bottom:18px;display:inline-block;width:100%;}
@media (max-width:767px){footer h3{font-size:1.375em;}
}
@media (max-width:425px){footer h3{margin-top:0;}
}
footer h3:after{content:'';display:block;position:absolute;bottom:0;height:1px;width:100%;background-color:#fffefe;background-image:-webkit-gradient(linear, left top, right top, from(#01c4fb), to(#3df1f9));background-image:-webkit-linear-gradient(left, #01c4fb 0%, #3df1f9 100%);background-image:-o-linear-gradient(left, #01c4fb 0%, #3df1f9 100%);background-image:linear-gradient(to right, #01c4fb 0%, #3df1f9 100%);-webkit-box-shadow:0 0 7px rgba(27, 180, 243, 0.5);box-shadow:0 0 7px rgba(27, 180, 243, 0.5);}
footer p, footer span, footer a{text-shadow:0 1px 5px rgba(0, 0, 0, 0.35);color:#fff;font-family:"Raleway-Regular", sans-serif;font-size:1em;font-weight:400;line-height:17px;-webkit-transition:all ease .5s;-o-transition:all ease .5s;transition:all ease .5s;}
@media (max-width:767px){footer p, footer span, footer a{font-size:0.9375em;line-height:20px;}
}
footer p{margin-bottom:0;}
footer a:hover{color:#fff;opacity:0.8;}
footer .footer_social{padding:0;}
footer .footer_social li{display:inline-block;list-style-type:none;margin-right:25px;background-color:#2b343e;background-image:-webkit-linear-gradient(315deg, #01c4fb 0%, #3df1f9 100%);background-image:-o-linear-gradient(315deg, #01c4fb 0%, #3df1f9 100%);background-image:linear-gradient(135deg, #01c4fb 0%, #3df1f9 100%);-webkit-box-shadow:0 0 7px rgba(27, 180, 243, 0.5);box-shadow:0 0 7px rgba(27, 180, 243, 0.5);border-radius:100%;width:48px;height:48px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
footer .footer_social li:last-child{margin-right:0;}
@media (max-width:767px){footer .footer_social li{margin-right:12px;}
}
footer .footer_social li i{font-size:1.875em;font-weight:400;line-height:23px;}
.footer_list{margin-bottom:30px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}
@media (max-width:425px){.footer_list{justify-content:flex-start;}
}
.footer_list .footer_list_item{position:relative;}
@media (max-width:425px){.footer_list .footer_list_item{margin-right:15px;margin-bottom:20px;}
}
.footer_list .footer_list_item:after{content:'';display:block;position:absolute;width:5px;height:5px;border-radius:100%;top:50%;right:-145px;margin-top:-3px;background-color:#f0ebf3;background-image:-webkit-linear-gradient(left, #35ecf9 0%, #07c9fb 100%);background-image:-o-linear-gradient(left, #35ecf9 0%, #07c9fb 100%);background-image:-webkit-gradient(linear, left top, right top, from(#35ecf9), to(#07c9fb));background-image:linear-gradient(to right, #35ecf9 0%, #07c9fb 100%);}
@media (max-width:1199px){.footer_list .footer_list_item:after{right:-110px;}
}
@media (max-width:991px){.footer_list .footer_list_item:after{right:-75px;}
}
@media (max-width:767px){.footer_list .footer_list_item:after{display:none;}
}
.footer_list .footer_list_item:last-child:after{display:none;}

/*GO TOP*/
.go_top_block{position: fixed; cursor: pointer; right: 30px; top: 50%;text-align: center; height: 87px; display: none;}
.go_top_btn{width: 36px; height: 53px; border-radius: 18px; box-shadow: 0px 3px 12px rgba(27,180,243,0.25); background-image: linear-gradient(0deg, #01c3fb 0%, #3df1f9 100%); border: 2px solid #01c3fb;margin: auto;}
.go_top_btn:hover, .go_top_btn:focus{background-image: linear-gradient(165deg, #ff7700 0%, #fdda33 100%); border: none;}
.go_top_btn:after{content:'';display:inline-block;position:absolute;background:url(../img/go_top.png);background-repeat:no-repeat;width:15px;height:15px;right: 30%;top: 18px;}
.go_top_block > p {font-size: 14px; letter-spacing: 1px; line-height: 30px; color: rgb(33,37,48); text-align: center;}

/*#individual,*/
/*#corporation,*/
/*#shop,*/
/*#info,*/
/*#landing{background:url(../img/individual_shapes.png);background-size:contain;}*/
#individual,
#corporation,
#shop,
#info,
#landing{position: relative;}
#individual .pinguin_bg,
#corporation .pinguin_bg,
#shop .pinguin_bg,
#info .pinguin_bg,
#landing .pinguin_bg{padding:35px 0;}
#individual .some_about_us,
#corporation .some_about_us,
#shop .some_about_us,
#info .some_about_us,
#landing .some_about_us{padding:0;}
#individual .discuss_us,
#corporation .discuss_us,
#shop .discuss_us,
#info .discuss_us,
#landing .discuss_us{margin-top:20px;}
#individual .individual_radio_wap,
#corporation .individual_radio_wap,
#shop .individual_radio_wap,
#info .individual_radio_wap,
#landing .individual_radio_wap{margin-top:25px;}
@media (max-width:991px){#individual .individual_radio_wap,
#corporation .individual_radio_wap,
#shop .individual_radio_wap,
#info .individual_radio_wap,
#landing .individual_radio_wap{display:none;}
}
.individual_text{font-family:"Raleway-Regular", sans-serif;}
.individual_head{font-family:"Raleway-Black", sans-serif;}
.individual_head,
.individual_text,
.individual_desc{color:#fff;font-weight:400;}
.individual_head{font-size:2.25em;text-transform:uppercase;margin-bottom:0;margin-top:50px;}
@media (max-width:1199px){.individual_head{font-size:1.875em;}
}
@media (max-width:767px){.individual_head{font-size:1.5em;}
}
.individual_text{font-size:1.5em;}
@media (max-width:1199px){.individual_text{font-size:1.25em;}
}
.individual_desc{font-family:"Raleway-Regular", sans-serif;font-size:1em;line-height:26px;margin-top:25px;}
@media (max-width:1199px){.individual_desc{font-size:0.875em;}
}
.individual_bottom{padding-top:115px;}
@media (max-width:767px){.individual_bottom{padding-top:15px;}
}
.shop_head{color:#15191d;font-family:"Raleway-Black", sans-serif;font-size:1.875em;font-weight:900;text-transform:uppercase;margin-top:0;margin-bottom:25px;}
@media (max-width:767px){.shop_head{font-size:1.375em;}
}
.shop_text{color:#15191d;font-family:"Raleway-Regular", sans-serif;line-height:24px;font-size:1em;font-weight:400;}
.shop_text span{font-size:18px;font-weight:700;font-family:"Raleway-Bold", sans-serif;}
.shop_item{margin-bottom:35px;}
.shop_inner{padding-top:80px;padding-bottom:230px;overflow:hidden;}
@media (max-width:767px){.shop_inner{padding-top:30px;padding-bottom:50px;}
}
.shop_effect{height:100%;}
.shop_effect img{position:absolute;border-radius:6px;}
@media (max-width:991px){.shop_effect{display:none;}
}
.shop_effect_one img{top:0;}
.shop_effect_two img{top:15%;top:200px;left:280px;}
.shop_effect_three img{top:340px;left:80px;}
@media (max-width:767px){.shop_first_wrap .shop_inner{padding-bottom:0;}
}
.shop_second_wrap{padding-top:190px;background:url(../img/shop_second_bg.png);background-repeat:no-repeat;background-size:cover;margin-bottom:20px;}
.shop_second_wrap .shop_text, .shop_second_wrap .shop_head{color:#fff;}
.shop_second_wrap .shop_effect_sixth img{top:390px;left:0;}
.shop_second_wrap .shop_effect_fifth img{top:220px;left:200px;}
#contacts header,
#portfolio header,
#portfolio_inner header{background:url(../img/contacts_header_bg.png);background-repeat:no-repeat;background-size:cover;padding:10px 0;}
#contacts img,
#portfolio img{margin:0 auto;}
.contacts_wrap{padding-top:50px;padding-bottom:30px;}
.contacts_head{color:#15191d;font-family:"Raleway-Black", sans-serif;font-size:0.875em;font-weight:900;line-height:14px;text-transform:uppercase;}
.contacts_list{padding-left:0;margin-bottom:30px;}
.contacts_list li{list-style-type:none;margin-bottom:5px;}
.contacts_list li a, .contacts_list li span{color:#15191d;font-family:"Raleway-Regular", sans-serif;font-size:1.125em;font-weight:400;line-height:18px;}
.contacts_list li a:hover{text-decoration:none;}
.contacts_map{height:500px;}
#map{height:100%;}
.map_content{color:#3c3c3c;font-family:"Raleway-Black", sans-serif;font-size:1.125em;font-weight:900;line-height:26px;margin-bottom:0;}
.gm-style-iw{overflow:visible !important;position:relative;}
.gm-style-iw::before{content:'';width:calc(100% + 60px);height:calc(100% + 24px);position:absolute;background-color:transparent;border-radius:30px;top:-11px;left:-30px;border:16px solid #fff;}
.gm-style-iw div{overflow:visible !important;}
#corporation .shop_effect_two img{top:340px;left:80px;}
#corporation .shop_effect_three img{top:15%;top:200px;left:280px;}
#about_us .discuss_us{padding:10px 30px;margin-top:5px;}
#about_us button.trigger{padding:0;color:#fff;border:none;}
#about_us .dialog,
#about_us .dialog__overlay{width:100%;height:100%;top:0;left:0;}
#about_us .dialog{position:fixed;display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;pointer-events:none;}
#about_us .dialog__overlay{position:absolute;z-index:1;background:rgba(55, 58, 71, 0.9);opacity:0;-webkit-backface-visibility:hidden;-moz-transition:opacity 0.3s;-o-transition:opacity 0.3s;-webkit-transition:opacity 0.3s;transition:opacity 0.3s;}
#about_us .dialog--open .dialog__overlay{opacity:1;pointer-events:auto;}
#about_us .dialog__content{width:50%;background:transparent;text-align:center;position:relative;z-index:5;opacity:0;}
#about_us .dialog__content img{margin:0 auto;}
#about_us .dialog--open .dialog__content{pointer-events:auto;}
#about_us .sally .dialog__overlay{-moz-transition-duration:0.4s;-o-transition-duration:0.4s;-webkit-transition-duration:0.4s;transition-duration:0.4s;}
#about_us .sally .dialog.dialog--open .dialog__content,
#about_us .sally .dialog.dialog--close .dialog__content{-moz-animation-duration:0.4s;-webkit-animation-duration:0.4s;animation-duration:0.4s;-moz-animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
#about_us .sally .dialog.dialog--open .dialog__content{-moz-animation-name:sally-open;-webkit-animation-name:sally-open;animation-name:sally-open;-moz-animation-timing-function:cubic-bezier(0.6, 0, 0.4, 1);-webkit-animation-timing-function:cubic-bezier(0.6, 0, 0.4, 1);animation-timing-function:cubic-bezier(0.6, 0, 0.4, 1);}
#about_us .sally .dialog.dialog--close .dialog__content{-moz-animation-name:sally-close;-webkit-animation-name:sally-close;animation-name:sally-close;}
@-moz-keyframes sally-open{0%{opacity:0;-moz-transform:scale3d(0, 0, 1);transform:scale3d(0, 0, 1);}
100%{opacity:1;-moz-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
}
@-webkit-keyframes sally-open{0%{opacity:0;-webkit-transform:scale3d(0, 0, 1);transform:scale3d(0, 0, 1);}
100%{opacity:1;-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
}
@keyframes sally-open{0%{opacity:0;-moz-transform:scale3d(0, 0, 1);-ms-transform:scale3d(0, 0, 1);-webkit-transform:scale3d(0, 0, 1);transform:scale3d(0, 0, 1);}
100%{opacity:1;-moz-transform:scale3d(1, 1, 1);-ms-transform:scale3d(1, 1, 1);-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
}
@-moz-keyframes sally-close{0%{opacity:1;}
100%{opacity:0;-moz-transform:scale3d(0.5, 0.5, 1);transform:scale3d(0.5, 0.5, 1);}
}
@-webkit-keyframes sally-close{0%{opacity:1;}
100%{opacity:0;-webkit-transform:scale3d(0.5, 0.5, 1);transform:scale3d(0.5, 0.5, 1);}
}
@keyframes sally-close{0%{opacity:1;}
100%{opacity:0;-moz-transform:scale3d(0.5, 0.5, 1);-ms-transform:scale3d(0.5, 0.5, 1);-webkit-transform:scale3d(0.5, 0.5, 1);transform:scale3d(0.5, 0.5, 1);}
}
#about_us .don .dialog.dialog--open .dialog__content,
#about_us .don .dialog.dialog--close .dialog__content{-moz-animation-timing-function:linear;-webkit-animation-timing-function:linear;animation-timing-function:linear;-moz-animation-duration:1s;-webkit-animation-duration:1s;animation-duration:1s;-moz-animation-fill-mode:forwards;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
#about_us .don .dialog.dialog--open .dialog__content{-moz-animation-name:don-open;-webkit-animation-name:don-open;animation-name:don-open;}
#about_us .don .dialog.dialog--close .dialog__content{-moz-animation-name:don-close;-webkit-animation-name:don-close;animation-name:don-close;-moz-animation-duration:0.3s;-webkit-animation-duration:0.3s;animation-duration:0.3s;-moz-animation-timing-function:ease-out;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;}
#about_us header{background:url(../img/about_us_top_bg.jpg);background-repeat:no-repeat;background-size:cover;padding:10px 0;}
#about_us .shop_text{margin-bottom:35px;}
#about_us .shop_text span{font-family:"Raleway-Black", sans-serif;font-weight:900;}
#about_us .serts_wrap{margin-bottom:20px;width:19%;margin-right:1%;}
#about_us .serts_wrap:last-child{margin-right:0;}
@media (max-width:767px){#about_us .serts_wrap{width:32%;margin-right:1%;}
}
@media (max-width:425px){#about_us .serts_wrap{width:49%;}
}
.about_us_top{position:relative;padding-bottom:10px;}
.first_about_us{padding:50px 0 70px 0;border-top:1px solid #f4f4f4;}
.about_us_head{display:inline-block;}
.about_us_head,
.about_us_span,
.about_us_subhead{color:#fff;}
.about_us_head,
.about_us_subhead{text-shadow:0 10px 22px rgba(0, 0, 0, 0.35);font-size:5.9375em;font-weight:900;margin-bottom:0;margin-top:0;text-transform:uppercase;}
@media (max-width:767px){.about_us_head,
.about_us_subhead{font-size:3.375em;}
}
.about_us_head{font-family:"Raleway-Black", sans-serif;position:relative;}
.about_us_span{text-shadow:0 2px 3px rgba(0, 0, 0, 0.75);font-size:20px;-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);position:absolute;right:-50px;top:42px;}
@media (max-width:767px){.about_us_span{font-size:11px;right:-30px;top:23px;}
}
.about_us_span,
.about_us_subhead{font-weight:400;font-family:"Raleway-Regular", sans-serif;}
@media (max-width:991px){.about_us_right{display:none;}
}
.about_us_right img{position:absolute;}
.about_us_page_head{color:#15191d;font-family:"Raleway-Black", sans-serif;font-size:1.875em;font-weight:900;text-transform:uppercase;margin-bottom:40px;margin-top:40px;}
.team_item_wrap{margin-bottom:65px;}
@media (max-width:767px){.team_item_wrap{margin-bottom:30px;}
}
.team_item_wrap img{-webkit-box-shadow:0 8px 20px rgba(102, 102, 102, 0.5);box-shadow:0 8px 20px rgba(102, 102, 102, 0.5);border-radius:100%;margin:0 auto 30px auto;}
.team_item_name,
.team_item_todo{color:#15191d;font-size:1.0625em;line-height:23px;text-transform:uppercase;margin-bottom:5px;}
.team_item_name{font-weight:400;font-family:"Raleway-Regular", sans-serif;}
.team_item_todo{font-weight:900;font-family:"Raleway-Black", sans-serif;}
.glasses_wrap{margin-bottom:90px;}
@media (max-width:767px){.glasses_wrap{margin-bottom:45px;}
}
#portfolio .profi{margin-top:70px;margin-bottom:40px;}
.third_block_wrapper{ position: relative;display:inline-block;width:100%;}
.portfolio_item{position:relative;overflow:hidden;margin-bottom: 30px;}
.portfolio_item:hover img{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);}
@media (max-width:767px){.portfolio_item{width:50%;}
}
@media (max-width:580px){.portfolio_item{width:100%;}
}
.portfolio_item img{-webkit-transition:all ease 1s;-o-transition:all ease 1s;transition:all ease 1s;position:static;}
.inner_portfolio_wrap{padding:15px;height:100%;position:absolute;top:0;width:100%; padding-right: 45px}
.inner_portfolio{height:100%;background:rgba(0, 0, 0, 0.5);opacity:0;-webkit-transition:all ease .5s;-o-transition:all ease .5s;transition:all ease .5s;padding:0 10px;position:relative;}
.inner_portfolio:hover{opacity:1;}
.inner_portfolio .protfolio_text_wrap{position:absolute;bottom:40px;}
.portfolio_head,
.portfolio_text{color:#fff;}
.portfolio_head{font-family:"Raleway-ExtraBold", sans-serif;font-size:2em;margin-bottom:10px;padding-bottom:15px;line-height:32px;position:relative;text-align:left;}
.portfolio_head:after{content:'';display:block;position:absolute;bottom:0;width:135px;height:2px;background:#fff;}
@media (max-width:991px){.portfolio_head{font-size:1.125em;line-height:18px;}
}
.portfolio_text{font-family:"Raleway-Light", sans-serif;font-size:1.125em;}
@media (max-width:991px){.portfolio_text{font-size:0.875em;line-height:14px;}
}
.portfolio_inner_head{color:#303030;font-family:"Raleway-Black", sans-serif;font-size:1.125em;font-weight:900;margin-top:45px;margin-bottom:35px;}
.portfolio_inner_text{color:#303030;font-family:"Raleway-Regular", sans-serif;line-height:24px;font-size:1em;font-weight:400;}
.portfolio_inner_text span{font-size:18px;font-weight:700;display:block;}
.portfolio_page .some_about_us{padding-left:0;}
.modal-content{background-image:url(../img/modal_bg.jpg);background-repeat:no-repeat;background-size:cover;max-width:400px;margin:0 auto;position:relative;}
.modal-content .fofmCall .discuss_us_modal{margin-top:20px;margin-bottom:20px;}
.modal-content .modal_file_wrap{position:relative;width:90%;margin:10px auto;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;}
.modal-content .modal_file_wrap .modile_file_item{height:100%;left:0;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:end;-webkit-align-items:flex-end;-ms-flex-align:end;align-items:flex-end;margin-bottom:0;margin-right:5px;text-decoration:underline;line-height:14px;cursor:pointer;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;font-weight:normal;}
.modal-content .modal_file_wrap .modile_file_item img{margin-left:5px;margin-top:0;}
.modal-content .file{display:none;}
.modal-content #loaded_file_name{margin-left:15px;}
.modal-content .modal_logo{margin-top:15px;}
.modal-content button.close{position:absolute;right:30px;top:10px;font-size:40px;}
.modal-content .file{margin:15px auto 0 auto;}
.modal-content .modal-content_items input, .modal-content .modal-content_items textarea{width:90%;background:transparent;border:none;padding:0 10px 10px 0;margin-bottom:10px;outline:none;font-family:"Raleway-Regular", sans-serif;font-weight:400;line-height:17px;color:#303030;font-size:1.0625em;cursor:pointer;}
.modal-content .modal-content_items textarea{padding-top:10px;}
.modal-content .modal-content_items .modal_border{border-bottom:1px solid #303030;}
.modal-content .modal-content_items .modal_text_wrap{width:100%;background:#fff;}
.modal-content .discuss_us_modal{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;margin-bottom:20px;position:relative;}
.modal-content .discuss_us_modal:after{content:'';display:inline-block;position:absolute;background:url(../img/discuss_icon.png);background-repeat:no-repeat;width:37px;height:37px;right:10px;top:50%;margin-top:-18px;}
.modal-content .discuss_us{padding:0;}
.modal-content .discuss_us .discuss_us_input{background:transparent;border:none;padding:12px 65px 12px 50px;}
.modal-content .modal_head,
.modal-content .modal_text{color:#303030;line-height:17px;}
.modal-content .modal_head{font-family:"Raleway-Black", sans-serif;font-size:1.25em;font-weight:900;margin:15px 0;}
.modal-content .modal_text{font-family:"Raleway-Regular", sans-serif;font-size:1em;font-weight:400;margin-bottom:20px;}
ul.footer_social.flex.flex_wrap {
    display: none;
}
img.img-responsive.portfolio_item_img {
	    width: 100%;
}
.link_portfolio span {
    font-weight: 700;
    color: #303030;
    font-family: "Raleway-Regular", sans-serif;
    line-height: 24px;
    font-size: 1em;
}

.link_portfolio {
    margin-bottom: 12px;
}

.for-button {
    text-align: center;
    padding: 15px 0;
    clear: both;
}

.for-button button {
	display:inline-block;
}

.load {
	text-align: center;
	padding: 15px 0;
	clear: both;
	display: none;
}

.portfolio-more {
    display: none;
}

.left-modal {
    position: fixed;
    z-index: 99999;
    bottom: 100px;
    left: -150%;
    width: 928px;
    height: auto;
    min-height: 203px;
    max-width: 520px;
    background-image: url("/img/pingshop-bg.png");
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.7s;
}

.left-modal.active {
    left: 0;
    transition: 0.7s;
}

.left-modal .content {
    float: right;
    margin: 32px 225px 0 10px;
	    text-align: center;
}

.left-modal h2 {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 26px;
    color: #fff;
    margin: 0;
}

.left-modal h2 strong {
    font-family: "Raleway-Black", sans-serif;
    font-weight: 500;
}

.left-modal img.right {
    position: absolute;
    right: -60px;
    bottom: -20px;
}

.left-modal .btn {
    font-family: "Raleway-ExtraBlod", sans-serif;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #cb40e0;
    background: #fff;
    border-radius: 25px;
    box-shadow: 0 7px 12px rgba(2,76,106,0.32);
    padding: 14px 46px;
    margin-top: 30px;
    transition: 0.7s;
}

.left-modal .close-modal {
    position: absolute;
    top: -23.5px;
    right: 61px;
    color: #fff;
    opacity: 1;
    font-size: 24px;
    font-weight: 100;
    width: 47px;
    height: 47px;
    border-radius: 100px;
    border: 2px solid #fff;
    background: #8240be;
    transition: 0.7s;
}

.left-modal .close-modal:hover,
.left-modal .close-modal:focus,
.left-modal .btn:hover,
.left-modal .btn:focus {
    box-shadow: 0 0 15px #fff;
    transition: 0.7s;
}

@media screen and (max-width: 1024px) {
    .left-modal h2 {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .left-modal {
        max-width: calc(100% - 15px);
        background-image: url("/img/pingshop-mbg.png");
    }

    .left-modal img.right {
        display: none;
    }

    .left-modal .content {
        max-width: 250px;
        margin: 32px 85px 0 10px;
    }
}

@media screen and (max-width: 350px) {
    .left-modal .content {
        max-width: calc(100% - 100px);
    }

    .left-modal .btn {
        font-size: 14px;
        padding: 14px 0;
        width: 100%;
    }
}

li.bsshop:after {
    content: "хит";
    color: green;
    float: right;
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}