@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?v=#');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=') format('embedded-opentype'),
    url('../fonts/fontawesome/fontawesome-webfont.woff2?v=#') format('woff2'),
    url('../fonts/fontawesome/fontawesome-webfont.woff?v=#') format('woff'),
    url('../fonts/fontawesome/fontawesome-webfont.ttf?v=#') format('truetype'),
    url('../fonts/fontawesome/fontawesome-webfont.svg?v=##fontawesomeregular') format('svg');
//  src: url('../fonts/fontawesome/FontAwesome.otf') format('opentype'); // used when developing ../fonts
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family: 'Raleway-Thin';
		src: url('../fonts/Raleway-Thin/Raleway-Thin.eot');
		src: url('../fonts/Raleway-Thin/Raleway-Thin.eot?iefix') format('eot'),
		url('../fonts/Raleway-Thin/Raleway-Thin.woff') format('woff'),
		url('../fonts/Raleway-Thin/Raleway-Thin.ttf') format('truetype'),
		url('../fonts/Raleway-Thin/Raleway-Thin.svg#Raleway-Thin/Raleway-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway-Black';
		src: url('../fonts/Raleway-Black/Raleway-Black.eot');
		src: url('../fonts/Raleway-Black/Raleway-Black.eot?iefix') format('eot'),
		url('../fonts/Raleway-Black/Raleway-Black.woff') format('woff'),
		url('../fonts/Raleway-Black/Raleway-Black.ttf') format('truetype'),
		url('../fonts/Raleway-Black/Raleway-Black.svg#Raleway-Black/Raleway-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway-Regular';
		src: url('../fonts/Raleway-Regular/Raleway-Regular.eot');
		src: url('../fonts/Raleway-Regular/Raleway-Regular.eot?iefix') format('eot'),
		url('../fonts/Raleway-Regular/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular/Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway-Light';
		src: url('../fonts/Raleway-Light/Raleway-Light.eot');
		src: url('../fonts/Raleway-Light/Raleway-Light.eot?iefix') format('eot'),
		url('../fonts/Raleway-Light/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway-Light/Raleway-Light.ttf') format('truetype'),
		url('../fonts/Raleway-Light/Raleway-Light.svg#Raleway-Light/Raleway-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway-Bold';
		src: url('../fonts/Raleway-Bold/Raleway-Bold.eot');
		src: url('../fonts/Raleway-Bold/Raleway-Bold.eot?iefix') format('eot'),
		url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold/Raleway-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway-ExtraBold';
		src: url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot');
		src: url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot?iefix') format('eot'),
		url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff') format('woff'),
		url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf') format('truetype'),
		url('../fonts/Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway-ExtraBold/Raleway-ExtraBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Raleway-Medium';
		src: url('../fonts/Raleway-Medium/Raleway-Medium.eot');
		src: url('../fonts/Raleway-Medium/Raleway-Medium.eot?iefix') format('eot'),
		url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway-Medium/Raleway-Medium.ttf') format('truetype'),
		url('../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium/Raleway-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'FiraSans-Regular';
		src: url('../fonts/FiraSans-Regular/FiraSans-Regular.eot');
		src: url('../fonts/FiraSans-Regular/FiraSans-Regular.eot?iefix') format('eot'),
		url('../fonts/FiraSans-Regular/FiraSans-Regular.woff') format('woff'),
		url('../fonts/FiraSans-Regular/FiraSans-Regular.ttf') format('truetype'),
		url('../fonts/FiraSans-Regular/FiraSans-Regular.svg#FiraSans-Regular/FiraSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'MinionPro-It';
		src: url('../fonts/MinionPro-It/MinionPro-It.eot');
		src: url('../fonts/MinionPro-It/MinionPro-It.eot?iefix') format('eot'),
		url('../fonts/MinionPro-It/MinionPro-It.woff') format('woff'),
		url('../fonts/MinionPro-It/MinionPro-It.ttf') format('truetype'),
		url('../fonts/MinionPro-It/MinionPro-It.svg#MinionPro-It/MinionPro-It') format('svg');
	font-weight: normal;
	font-style: normal;
}