/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



$browser-context: 16;


/* ===========FONT FAMILY===========*/

$thin_font:							'Raleway-Thin', sans-serif;
$regular_font:						'Raleway-Regular', sans-serif;
$black_font:						'Raleway-Black', sans-serif;
$light_font:						'Raleway-Light', sans-serif;
$bold_font:							'Raleway-Bold', sans-serif;
$extra_bold_font:					'Raleway-ExtraBold', sans-serif;
$medium_font:						'Raleway-Medium', sans-serif;
$play_fair:							'Playfair Display', serif;
$fira_refular:						'FiraSans-Regular', sans-serif;
$minion_lt:							'MinionPro-It', sans-serif;



/* ===========COLOR============= */
$white_color:						#fff;
$black_color:						#000;
$nav_color:							#fefefe;
$second_heaings:					#201f1f;
$second_text:						#747984;
$second_text_power:					#898e97;
$third_text_head:					#60656f;
$third_text_head_span:				#1381e7;
$sub_nav_color:						#15191d;
$footer_robots_text_color:			#e3e3e3;
$map_text_color:					#3c3c3c;
$portfolio_inner_head:				#303030;
$more_btn_arrow:					#2ee6fa;
$fourth_block_svg_color:			#1576e5;
$fourth_block_btn:					#cb40e0;
$fourth_block_input:				#928b8b;
$pink_maybe:						#ff7180;


/* ============BACKGROUND =========*/
$white_bg: 							#fff;
$nav_link_bg: 						#6a3fb6;
$discuss_link: 						#f4f4f4;
$second_block: 						#f6f9fd;
$black_bg: 							#000;
$half_black_bg: 					rgba(0, 0, 0, .5);
$transparent: 						transparent;
$form_success_bg: 					#55c65e;;



/* ==========FONT SIZE ============*/

/* ===============BORDERS ==========*/
$header_border:						1px solid rgba(244, 244, 244, .25);
$modal_border:						1px solid #303030;
$white_border:						#fff;

/* =======Mixins =========*/
@function em($pixels, $context: $browser-context) {
  @return ($pixels / $context) * 1em;
}