/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


@import "_fonts";
@import "_variables";

/* SOME CUSTOM RESET */
body{
  overflow-x: hidden;
  font-size: 16px;
}
h3,h4{
  font-size: 16px;
}
a, button, input,img, li{
  outline: none;
}
input, textarea, button{
  outline: none!important;
}
ul{
  li{
    list-style-type: none;
  }
}
img{
  max-width: 100%;
  height: auto;
}
/* ===========GENERAL ============*/
.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex_wrap{
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.align_center{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify_content_between{
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.justify_content_end{
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.no_padding_right{
  padding-right: 0;
}
.no_margin{
  margin: 0!important;
}
.no_padding{
  padding: 0;
}
.white_text{
  color: $white_color!important;
}
.display_inline_block{
  display: inline-block;
}
.text_center{
  text-align: center;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
/* ============FIRST BLOCK================= */
header{
  position: relative;
  .navigation{
    position: static;
    margin-left: -1px;
    .close_menu{
      display: none;
      @media (max-width: 1199px) {
        display: block;
        float: right;
      }
    }
    @media (max-width: 767px) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
}
.tablet_menu_text{
  display: none;
  text-align: right;
  padding-right: 15px;
  color: $white_color;
  font-family: $black_font;
  font-size: em(17);
  font-weight: 900;
  text-transform: uppercase;
  @media (max-width: 1199px) {
    display: block;
  }
}
.nav_list{
  @media (max-width: 1199px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 100px;
    height: 100vh;
    align-items: flex-start;
    display: block;
    background: rgba(0,0,0,.75);
    z-index: 1;
  }
  li{
    @media (max-width: 1199px) {
      width: 100%;
      margin-bottom: 15px;
    }
    a{
      color: $nav_color;
      font-family: $regular_font;
      font-size: em(16);
      font-weight: 400;
      text-transform: uppercase;
      padding: 5px 35px;
      border-radius: 16px;
      transition: all ease .3s;
      &:hover{
        background-color: $nav_link_bg;
      }
    }
    &.nav_list_last_item{
      display: none;
      @media (max-width: 1199px) {
        display: block;
        .call_back{
          display: block;
        }
      }
      .call_back{
        padding: 10px 20px;
        margin: 0 10px;
      }
    }
  }
}

.first_block{
  width: 100%;
  /*background: url(../img/new_img/top_page_bg.jpg);*/
  background-size: 100% 100%;
  overflow: hidden;
  @media (min-width: 767px) {
    min-height: 98vh;
    position: relative;
  }
  .first_block_inner_nav{
    @media (max-width: 1199px) {
      justify-content: space-between;
    }
  }
  header{
    >.container{
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  .discuss_us{
    margin-bottom: 15px;
  }
  .call_back_wrap{
    display: none;
    @media (min-width: 1200px) {
      display: block;
    }
  }
  .call_back{

    @media (min-width: 1200px) {
      &.big{
        margin-right: 28px;
      }
    }
    @media (max-width: 1199px) {
      margin-bottom: 20px;
    }
  }
}
.call_back{
  color: $white_color;
  font-family: $extra_bold_font;
  font-size: em(14);
  font-weight: 700;
  text-transform: uppercase;
  background-color: $discuss_link;
  background-image: linear-gradient(to right, #ff6a80 0%, #ffa680 100%);
  border-radius: 20px;
  box-shadow: 0 7px 12px rgba(2, 76, 106, 0.1);
  padding: 11px 37px;
  display: inline-block;
  letter-spacing: 1px;
  &.big,&.transparent{
    font-size: em(16);
    border-radius: 25px;
  }
  &.big{
    padding: 17px 63px;
    @media (max-width: 1199px){
      padding: 17px 27px;
    }
    @media (max-width: 991px){
      padding: 17px 18px;
    }
  }
  &.transparent{
    border: 2px solid $white_border;
    background: $transparent;
    box-shadow: none;
    padding: 15px 30px;
    @media (max-width: 991px) {
      padding: 15px 27px;
    }
  }
}
#shop_effects_mobile{
  display: none;
  @media (max-width: 1199px) {
    display: block;
  }
}
#shop_effects{
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}
.shop_effect{
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  img{
    position: absolute;
  }
  @media (max-width: 991px) {
    display: none;
  }
}
.shop_effect_one{
  z-index: 3;
  img{
    top: 250px;
    right: 320px;
  }

}
.shop_effect_two{
  img{
    top: 25px;
    right: 55px;
  }

}
.shop_effect_three{
  z-index: 2;
  img{
    top: 150px;
    right: -500px;
  }
}


.see_more{
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  bottom: -19px;
  @media (max-width: 1199px) {
    bottom: -40px;
  }
  @media (max-width: 991px) {
    bottom: -19px;
  }
  @media (max-width: 767px) {
    position: relative;
    display: inline-block;
    bottom: 30px;
  }
}
.profi_wrap{
  margin-bottom: 50px;
  @media (max-width: 1199px) {
    margin-bottom: 35px;
  }
}
.profi,
.profi_bold{
  color: $black_color;
  font-family: $light_font;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 14px;
  @media (max-width: 1199px) {
    font-size: 25px;
  }
}
.profi_bold{
  font-family: $black_font;
  font-weight: 900;
}

/* =============SECOND BLOCK==================*/
.second_block{
  background-color: $second_block;
  padding: 100px 0;
  @media (max-width: 991px) {
    padding: 35px 0;
  }
  .second_block_inner_img{
    @media (max-width: 767px) {
      text-align: center;
      margin-bottom: 15px;
    }
  }
}

.second_block_item{
  margin-bottom: 150px;
  @media (max-width: 1199px) {
    margin-bottom: 70px;
  }
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
  &.last{
    margin-bottom: 0;
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
.second_block_headings,
.second_block_text{
  font-family: $extra_bold_font;
}
.second_block_headings{
  color: $second_heaings;
  font-size: em(22);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  @media (max-width: 1199px) {
    font-size: em(18);
  }
}
.second_block_text{
  color: $third_text_head;
  font-size: em(18);
  font-family: $regular_font;
  font-weight: 400;
  @media(max-width: 1199px){
    font-size: em(16);
  }
}

/* ===========THIRD BLOCK ============*/
.third_block{
  padding-top: 70px;
  padding-bottom: 50px;
  @media (max-width: 1199px){
    padding-top: 35px;
    padding-bottom: 25px;
  }
}
.third_block_item{
  margin-top:20px;
  padding-bottom: 100px;
  background-position: top center;
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
  &.first{
    background-image: url(../img/new_img/smartphone.png);
  }
  &.second{
    background-image: url(../img/new_img/shopping-cart.png);
  }
  &.third{
    background-image: url(../img/new_img/shopping-basket.png);
  }
  &.fourth{
    background-image: url(../img/new_img/line-chart.png);
  }
  &.fifth{
    background-image: url(../img/new_img/credit-card.png);
  }
  &.sixth{
    background-image: url(../img/new_img/server.png);
    .play_fair{
      line-height: 76px;
    }
  }
}
.play_fair{
  color: #ff8380;
  font-family: $play_fair;
  font-size: em(130);
  font-weight: 900;
  font-style: italic;
  line-height: 44px;
  @media (max-width: 1199px) {
    font-size: em(80);
  }
}

/* ==============FOURHT BLOCK ============*/
.fourth_block{
  background-image: url(../img/new_img/fourth_block_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  .fourth_block_item{
    margin-top: 60px;
    @media (max-width: 1199px) {
      &:last-child{
        margin-top: 30px;
      }
    }
  }
}
.fourth_block_head,
.fourth_block_head_bold{
  color: $white_color;
  font-family: $regular_font;
  font-size: em(36);
  font-weight: 400;
  margin: 0;
  @media (max-width: 767px) {
    font-size: em(25);
  }
}
.fourth_block_head_bold{
  font-family: $black_font;
  font-weight: 900;
  margin-top: 10px;
  @media (max-width: 767px) {
    text-align: center;
  }
}
#newForm,
#newFormSecond{
  .newForm_inner{
    border-radius: 34px;
    border: 7px solid rgba(255, 255, 255, 0.11);
    position: relative;
    @media (max-width: 767px) {
      border: none;
      border-radius: 0;
    }
  }
  form{
    padding: 0 0 0 25px;
    background: $white_bg;
    border-radius: 28px;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: center;
      background: transparent;
      padding: 0;
      >div{
        border-radius: 34px;
        border: 7px solid rgba(255, 255, 255, 0.11);
        p{
          background: $white_bg;
          border-radius: 34px;
          padding-left: 10px;
          @media (max-width: 767px) {
            position: relative;
          }
        }
      }
    }
  }
  p{
    margin-bottom: 0;
  }
  .error_wrap{
    display: block;
    position: absolute;
    bottom: 0;
    color: red;
    font-size: em(12);
    @media (max-width: 767px) {
      bottom: 0;
      left: 50%;
      margin-left: -57px;
    }
  }
  input, button{
    padding: 0;
    border: none;
    border-radius: 28px;
  }
  input{
    color: $fourth_block_input;
    font-family: $regular_font;
    font-size: em(24);
    font-weight: 400;
  }
  button{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    padding: 0 60px;
    color: $fourth_block_btn;
    font-family: $extra_bold_font;
    font-size: em(18);
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: -7px 0 12px rgba(2, 76, 106, 0.32);
    background: $white_bg;
    @media (max-width: 767px) {
      position: relative;
      margin-top: 15px;
    }
  }
}
#newForm input, #newForm button,
#newFormSecond input, #newFormSecond button,.resultPlace{
  height: 56px;
}
.resultPlace{
  margin-bottom: 0;
  margin-top: 10px;
  height: auto;
  text-align: center;
  .result{
    color: $fourth_block_btn;
    font-family: $bold_font;
    font-size: em(16);
    display: inline-block;
    background-color: $white_bg;
    padding: 5px 10px;
    border-radius: 28px;
    i{
      color: $form_success_bg;
    }
  }
}

/* ==============FIFTH BLOCK ============*/
.fifth_block {
  position: relative;
  padding-bottom: 100px;
  .fifth_block_colums{
    background-image: url(../img/new_img/fifth_text_bg.png);
    background-position: top left;
    background-repeat: no-repeat;
    margin-top: 95px;
    padding-top: 50px;
    @media (max-width: 1199px) {
      margin-top: 35px;
    }
    @media (max-width: 767px) {
      text-align: center;
      h3,p,ul{
        text-align: left;
      }
    }
  }
  #shop_effects_fourth{
    left: 0;
    @media (max-width: 1199px){
      position: relative;
      left: -35px;
      .shop_effect {
        display: block;
      }
    }
    @media (max-width: 767px){
      display: none;
    }
    .shop_effect_one_fifth{
      img{
        top: 130px;
        @media (max-width: 1199px){
          top: 70px;
        }
      }
    }
    .shop_effect_two_fifth{
      img{
        top: 85px;
        left: 32%;
        @media (max-width: 1199px){
          top: 95px;
          left: 40%;
        }
      }
    }
    .shop_effect_three_fifth{
      img{
        top: 150px;
        left: 20%;
      }
    }
    .shop_effect_four_fifth{
      img{
        top: 180px;
        left: 15%;
        @media (max-width: 1199px){
          top: 230px;
        }
      }
    }
    .shop_effect_five_fifth{
      img{
        top: 550px;
        left: 20%;
      }
    }

  }
  .call_back.big{
    @media (max-width: 1199px) {
      padding-left: 65px;
      padding-right: 65px;
    }
  }
}
.some_about_us,
.some_about_us_text,
.fifth_block_list li p{
  color: $black_color;
}
.some_about_us{
  font-family: $black_font;
  font-size: em(36);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 25px;
  @media (max-width: 1199px) {
    font-size: em(25);
  }
  &.white{
    color: $white_color;
  }
}
.some_about_us_text{
  font-family: $light_font;
  font-size: em(22);
  font-weight: 300;
  margin-bottom: 0;
  @media (max-width: 1199px) {
    font-size: em(18);
  }
  &.center{
    margin-top: 60px;
  }
}

.fifth_block_list{
  margin-top: 55px;
  @media (max-width: 1199px) {
    margin-top: 30px;
  }
}
.fifth_block_list{
  li{
    margin-bottom: 45px;
    @media (max-width: 1199px) {
      margin-bottom: 30px;
    }
    p{
      font-family: $extra_bold_font;
      font-size: em(23);
      font-weight: 700;
      span{
        display: block;
        font-family: $light_font;
        font-weight: 300;
        margin-top: 10px;
      }
    }
  }
}


/* ==============SIXTH BLOCK ============*/
.sixth_block_inner_img{
  @media (max-width: 1199px) {
    display: none;
  }
}
.sixth_block{
  background-color: #181d37;
  padding-top: 95px;
  padding-bottom: 95px;
  @media (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &.six{
    .sixth_block_inner{
      padding-bottom: 120px;
      @media (max-width: 1199px) {
        padding-bottom: 65px;
      }
    }
    .slick-dots{
      @media (max-width: 767px) {
        margin-bottom: 35px;
      }
    }
  }
  .sixth_block_inner{
    background-color: #252d47;
    border-radius: 10px;
    max-width: 1470px;
    margin: 0 auto;
  }
  .some_about_us{
    margin-top: 0;
  }
  .some_about_us,
  .some_about_us_text {
    color: $white_color;
  }
}
.sixth_block_head{
  background-image: url(../img/new_img/sixth_text_bg.png);
  background-repeat: no-repeat;
  padding: 45px 0;
  margin-top: 10px;
  margin-bottom: 60px;
  @media (max-width: 1199px) {
    padding: 65px 0;
    margin-bottom: 0;
  }
  @media (max-width: 767px) {
    padding: 30px 0;
    margin-bottom: 0;
  }
}
.slider-nav,
.slider-nav_second{
  .some_about_us{
    font-size: em(30);
    text-transform: none;
  }
  .some_about_us_text{
    font-family: $light_font;
    font-size: em(22);
    font-weight: 300;
  }
  >button{
    position: absolute;
    top: 100%;
    background: transparent;
    border: 1px solid white;
    border-radius:  100%;
    width: 58px;
    height: 58px;
    cursor: pointer;
    color: $white_color;
    font-family: $bold_font;
    font-size: em(24);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0;
    &.slick-next{
      left: 85px;
    }
  }
}


.slick-dots{
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    justify-content: center;
  }
  li{
    text-indent: -5000px;
    width: 13px;
    height: 13px;
    background-color: $pink_maybe;
    border-radius: 100%;
    margin-right: 25px;
    cursor: pointer;
    &:last-child{
      margin-right: 0;
    }
    &.slick-active{
      width: 26px;
      height: 26px;
    }
  }
}
.slick-dots,
.slider-nav button,
.slider-nav_second button{
  margin-top: 35px;
}

/* ==============SEVENTH BLOCK ============*/
.seventh_block{
  background-color: #f6f9fd;
  padding-top: 95px;
  padding-bottom: 95px;
  @media (max-width: 767px) {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  &.seven{
    .seventh_block_inner{
      padding-bottom: 120px;
      @media (max-width: 1199px) {
        padding-bottom: 65px;
      }
    }
  }
  .seventh_block_inner{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.17);
    max-width: 1470px;
    margin: 0 auto;
  }
  .sixth_block_head{
    background-image: url(../img/new_img/seventh_text_bg.png);
  }
  .some_about_us{
    margin-top: 0;
  }
  .slider-nav_second{
    button{
      border-color: $pink_maybe;
      color: $pink_maybe;
      line-height: 0;
    }
  }
}

/* ==============EIGHT BLOCK ============*/
.eight_block{
  .sixth_block_head{
    background-image: url(../img/new_img/eight_text_bg.png);
  }
}
.eigth_block_img{
  margin-top: 70px;
}

/* ==============NINETH BLOCK ============*/
.nineth_block,
.eight_block{
  .row{
    padding-bottom: 20px;
  }
}
.nineth_block{
  .sixth_block_head{
    background-image: url(../img/new_img/nineth_text_bg.png);
    margin-bottom: 20px;
  }
}

/* ==============TENTH BLOCK ============*/
.tenth_block{
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
  .fourth_block_head{
    margin-top: 70px;
    @media (max-width: 767px) {
      margin-top: 15px;
    }
  }
  .second_block_headings,
  .second_block_text{
    color: $white_color;
  }
  .second_block_headings{
    margin-bottom: 20px;
    @media (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
  .third_block_item{
    margin-top: 90px;
    padding-bottom: 0;
    @media (max-width: 1199px) {
      margin-top: 45px;
    }
  }
  .container-fluid{
    >.row{
      padding-bottom: 100px;
      @media (max-width: 767px) {
        padding-bottom: 30px;
      }
    }
  }
  .row{
    padding-bottom: 0;
  }
}

/* ==============ELEVENTH BLOCK ============*/
.eleventh_block{
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url(../img/new_img/eleventh_block_bg.jpg);
  background-repeat: no-repeat;
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .fourth_block_head,
  .fourth_block_head_bold{
    color: $black_color;
  }
  .fourth_block_head_bold{
    margin-bottom: 38px;
  }
  .call_back{
    &.big{
      padding-left: 35px;
      padding-right: 35px;
    }
    &.ten{
      background-image: -webkit-linear-gradient(bottom, rgb(253,116,186) 0%, rgb(241,77,231) 35%, rgb(129,64,190) 65%, rgb(96,75,218) 100%);
      background-image: -o-linear-gradient(bottom, rgb(253,116,186) 0%, rgb(241,77,231) 35%, rgb(129,64,190) 65%, rgb(96,75,218) 100%);
      background-image: linear-gradient(to right, rgb(253,116,186) 0%, rgb(241,77,231) 35%, rgb(129,64,190) 65%, rgb(96,75,218) 100%);
      -webkit-box-shadow: 0px 28px 35px -15px rgba(191,180,237,1);
      -moz-box-shadow: 0px 28px 35px -15px rgba(191,180,237,1);
      box-shadow: 0px 28px 35px -15px rgba(191,180,237,1);
    }
    &.last{
      &.big{
        padding-left: 60px;
        padding-right: 60px;
        -webkit-box-shadow: 0px 28px 35px -15px rgba(252,184,191,1);
        -moz-box-shadow: 0px 28px 35px -15px rgba(252,184,191,1);
        box-shadow: 0px 28px 35px -15px rgba(252,184,191,1);
      }
      margin-top: 32px;
    }
  }
  .eleventh_block_item{
    margin-top: 10px;
    padding-top: 46px;
    position: relative;
    &:after,&:before{
      content:'|';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 15px;
      color: #59606a;
    }
    &:before{
      top: 20px;
    }
    p{
      &.orange{
        color: #ff9d80;
        font-family: $play_fair;
        font-size: em(30);
        font-weight: 700;
      }
    }
    .second_block_text{
      color: $black_color;
    }
  }
}

/* ==============FOOTER BLOCK ============*/
footer{
  background-color: $sub_nav_color;
  padding: 35px 0 65px 0;
  @media (max-width: 767px) {
    padding: 0 0 25px 0;
  }
  .footer_text_for_robots{
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    color: $footer_robots_text_color;
    font-family: $regular_font;
    font-size: em(16);
    font-weight: 400;
    line-height: 26px;
    @media (max-width: 767px) {
      font-size: em(15);
      line-height: 20px;
    }
  }
  .footer_contacts_line{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
  h3{
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    color: $white_color;
    font-family: $regular_font;
    font-size: em(25);
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 18px;
    display: inline-block;
    width: 100%;
    @media (max-width: 767px) {
      font-size: em(22);
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #fffefe;
      background-image: linear-gradient(to right, #fe9b84 0%, #ee4aea 35%, #7f40be 65%, #4e57fe 100%);
      box-shadow: 0 0 7px rgba(254, 155, 132, 0.35);
    }
  }
  p, span, a{
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    color: $white_color;
    font-family: $regular_font;
    font-size: em(16);
    font-weight: 400;
    line-height: 17px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    @media (max-width: 767px) {
      font-size: em(15);
      line-height: 20px;
    }
  }
  p{
    margin-bottom: 0;
  }
  a{
    &:hover{
      color: $white_color;
      opacity: 0.8;
    }
  }
  .footer_social{
    padding: 0;
    li{
      display: inline-block;
      list-style-type: none;
      margin-right: 25px;
      background-color: #2b343e;
      background-image: linear-gradient(180deg, #ff9e80 0%, #ff7180 100%);
      border-radius: 100%;
      width: 48px;
      height: 48px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      &:last-child{
        margin-right: 0;
      }
      @media(max-width: 767px){
        margin-right: 12px;
      }
      i{
        font-size: em(30);
        font-weight: 400;
        line-height: 23px;
      }
    }
  }
}
.footer_list{
  margin-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  @media (max-width: 425px) {
    justify-content: flex-start;
  }
  .footer_list_item {
    position: relative;
    @media (max-width: 425px) {
      margin-right: 20px;
      margin-bottom: 20px;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      top: 50%;
      right: -145px;
      margin-top: -3px;
      background-color: #f0ebf3;
      background-image: -webkit-linear-gradient(left, #35ecf9 0%, #07c9fb 100%);
      background-image: -o-linear-gradient(left, #35ecf9 0%, #07c9fb 100%);
      background-image: -webkit-gradient(linear, left top, right top, from(#35ecf9), to(#07c9fb));
      background-image: linear-gradient(to right, #35ecf9 0%, #07c9fb 100%);
      @media (max-width: 1199px) {
        right: -110px;
      }
      @media (max-width: 991px) {
        right: -75px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}





















.header_border{
  border-bottom: $header_border;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo_text_bold,
.logo_text_thin{
  color: $white_color;
  font-size: em(34);
  margin-bottom: 0;
  line-height: 28px;
  @media (max-width: 1200px) {
    font-size: em(22);
  }
  @media (max-width: 991px) {
    line-height: 16px;
  }
  @media (max-width: 767px) {
    text-align: center;
  }
}
.logo_text_bold{
  font-family: $regular_font;
  font-weight: 900;
  text-transform: uppercase;
}
.logo_text_thin{
  font-family: $regular_font;
  font-weight: 100;
  font-variant: small-caps;
  letter-spacing: 8px;
  @media (max-width: 1200px) {
    letter-spacing: 5px;
  }
}
.navbar-default{
  @media (max-width: 991px) {
    margin-top: 15px;
  }
  .navbar-nav{
    @media (max-width: 991px) AND (min-width: 768px) {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    >li{
      @media (min-width: 768px) {
        &.dropdown{
          &:hover{
            .dropdown-menu{
              opacity: 1;
              visibility: visible;
              z-index: 1000;
            }
          }
        }
      }

      .dropdown-menu{
        padding: 22px 20px;
        @media (max-width: 767px) {
          padding-left: 0;
        }
        @media (min-width: 768px) {
          display: inherit;
          opacity: 0;
          visibility: hidden;
          z-index: 0;
          -webkit-transition: all ease .5s;
          -o-transition: all ease .5s;
          transition: all ease .5s;
        }
        li{
          padding-bottom: 20px;
          line-height: 15px;
          &:last-child{
            padding-bottom: 0;
          }
          a{
            padding: 0;
            font-family: $regular_font;
            font-size: em(15);
            line-height: 15px;
            color: $sub_nav_color;
            font-weight: 400;
            &:hover{
              color: $third_text_head_span;
              font-weight: 700;
              background: transparent;
            }
          }
        }
      }

      >a{
        color: $nav_color;
        font-family: $regular_font;
        font-size: em(16);
        font-weight: 400;
        padding: 5px 35px;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
        border-radius: 16px;
        &:hover{
          background-color: $nav_link_bg;
          color: $nav_color;
        }
        @media (max-width: 1200px) {
          font-size: 14px;
          font-weight: 400;
          padding: 5px 28px;
        }
      }
    }
    >.active{
      >a{
        background-color: $nav_link_bg;
        border-radius: 16px;
        background-image: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: $nav_color;
      }
    }
  }
}

/* =========АНИМИРОВАННЫЙ ГАМБУРГЕР=========*/
.ham {
  background: none;
  position: relative;
  min-width: 80px;
  min-height: 60px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  @media (max-width: 767px) {
    display: block;
    overflow: hidden;
  }
}
.ham:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 45px;
  height: 45px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
  clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
}
.ham > .bar {
  display: block;
  background: #fff;
  position: absolute;
  left: 10px;
  width: 70%;
  height: 5px;
  border-radius: 6px;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}
.ham > .bar:first-child {
  top: 23%;
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
}
.ham > .bar:nth-child(2) {
  top: 47%;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}
.ham > .bar:last-child {
  bottom: 20%;
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

.ham.opened:before {
  -webkit-animation: open-close 400ms 300ms forwards ease-in;
  animation: open-close 400ms 300ms forwards ease-in;
}
.ham.opened:active {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.ham.opened > .bar {
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  left: 14px;
  top: 13px;
  width: 35px;
  -webkit-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}
.ham.opened > .bar:nth-child(2) {
  left: 150px;
  width: 0%;
}
.ham.opened > .bar:last-child {
  bottom: 20%;
  left: 14px;
  top: 36px;
  width: 35px;
  -webkit-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  transform: rotate(44deg);
}

.ham.closed:before {
  -webkit-animation: open-close 400ms forwards reverse ease-out;
  animation: open-close 400ms forwards reverse ease-out;
}

@-webkit-keyframes open-close {
  0% {
    -webkit-clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
  }
  25% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);
    clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  50% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);
  }
  75% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);
  }
}

@keyframes open-close {
  0% {
    -webkit-clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
  }
  25% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);
    clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  50% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);
  }
  75% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);
  }
}


.first_block_inner{
  margin-top: 8%;
  @media (max-width: 1365px) {
    margin-top: 50px;
  }
  @media (max-width: 991px) {
    margin-top: 30px;
  }
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
  >.row{
    position: relative;
  }
}
.first_bold_text,
.first_italic_text,
.first_text_plus{
  color: $white_color;
  font-family: $black_font;
  margin-top: 0;
  margin-bottom: 24px;
}
.first_bold_text{
  font-size: em(63);
  font-weight: 900;
  @media (max-width: 1199px) {
    font-size: em(64)*0.7;
  }
  @media (max-width: 767px) {
    font-size: em(32);
    line-height: 32px;
  }
}
.first_italic_text{
  font-size: em(36);
  font-weight: 900;
}
.first_text_plus{
  font-size: em(27);
  font-weight: 300;
  margin-bottom: 32px;
  font-family: $light_font;
}
.first_regular_text{
  color: $white_color;
  font-family: $regular_font;
  font-size: em(26);
  line-height: 32px;
  font-weight: 300;
  @media (max-width: 1199px) {
    font-size: em(26)*0.7;
  }
  @media (max-width: 767px) {
    font-size: em(14);
    line-height: 20px;
  }
}
.mac_img{
  @media (max-width: 767px) {
    margin-top: 15px;
  }
}
.discuss_us{
  text-shadow: 0 1px 1px rgba(27, 180, 243, 0.76);
  color: $white_color;
  font-family: $regular_font;
  font-size: em(15);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: $discuss_link;
  background-image: -webkit-gradient(linear, left top, right top, from(#01c4fb), to(#3df1f9));
  background-image: -webkit-linear-gradient(left, #01c4fb 0%, #3df1f9 100%);
  background-image: -o-linear-gradient(left, #01c4fb 0%, #3df1f9 100%);
  background-image: linear-gradient(to right, #01c4fb 0%, #3df1f9 100%);
  border-radius: 25px;
  padding: 17px 62px 17px 40px;
  position: relative;
  display: inline-block;
  border: none;
  position: relative;
  overflow: hidden;
  &.left:after {
    left: 0;
  }

  &.bubble:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out;
  }

  &.bubble:active:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
  }
  &:hover{
    color: $white_color;
    text-decoration: none;
    span{
      &:after{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

  }
  span{
    position: relative;
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      background: url(../img/discuss_icon.png);
      background-repeat: no-repeat;
      width: 37px;
      height: 37px;
      right: -50px;
      top: 50%;
      margin-top: -18px;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s;
    }
  }
  @media (max-width: 767px) {
    font-size: em(14);
  }
}

/* ===========THIRD BLOCK ============*/

.some_about_us{
  color: $second_heaings;
}
.how_we_work{
  color: $white_color;
  text-align: center;
}
.we_are{
  color: $second_text;
  font-family: $regular_font;
  font-size: em(11);
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 18px;
}
.third_block_head{
  font-family: $regular_font;
  font-size: em(35);
  color: $third_text_head;
  font-weight: 300;
  margin-bottom: 18px;
  span{
    font-family: $regular_font;
    color: $third_text_head_span;
    font-weight: 900;
  }
}
.tird_block_list{
  margin-top: 55px;
  padding-left: 0;
  li{
    color: $second_text;
    font-family: $regular_font;
    font-size: em(16);
    font-weight: 400;
    line-height: em(26);
  }
}
.third_block_btn{
  margin-top: 55px;
}

/* ==============FOURHT BLOCK ============*/

/* ==============SIXTH BLOCK ============*/
.sixth_block_wrapper{
  background-image: url(../img/sixth_block_shape.jpg);
  background-size: cover;
  @media (max-width: 991px) AND (min-width: 768px) {
    .discuss_us{
      span{
        &:after{
          right: -40px;
        }
      }
    }
  }
  .sixth_block{
    padding-bottom: 170px;
    @media (max-width: 767px) {
      padding-bottom: 50px;
    }
    .discuss_us {
      @media (min-width: 768px) AND (max-width: 991px) {
        padding: 17px 45px 17px 20px;
        position: relative;
        display: inline-block;
        letter-spacing: 1px;
        font-size: 14px;
      }
      @media (min-width: 992px) AND (max-width: 1199px) {
        letter-spacing: 2px;
      }
    }
  }
  .sixth_item{
    &:first-child{
      .discuss_us{
        span{
          &:after{
            background: url(../img/give_me_call.png);
          }
        }
      }
    }
    &:nth-child(2){
      .discuss_us{
        span{
          &:after{
            background: url(../img/give_me_letter.png);
          }
        }
      }
    }
    &:last-child{
      .discuss_us{
        span{
          &:after{
            background: url(../img/give_me_breef.png);
          }
        }
      }
    }
    @media(max-width: 767px) {
      margin-bottom: 15px;
    }
    img{
      margin: 0 auto;
    }
  }
}
.pinguin_bg{
  padding: 120px 0;
  background-image: url(../img/pinguin_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  @media(max-width: 767px) {
    padding: 50px 0;
  }
}

/* ==============INDIVIDUAL PAGE========== */
#individual,
#corporation,
#shop,
#info,
#landing{
  background: url(../img/individual_shapes.png);
  background-size: contain;
  .pinguin_bg{
    padding: 35px 0;
  }
  .some_about_us{
    padding: 0;
  }
  .discuss_us{
    margin-top: 20px;
  }
  .individual_radio_wap{
    margin-top: 25px;
    @media (max-width: 991px) {
      display: none;
    }
  }
}

.individual_text{
  font-family: $regular_font;
}
.individual_head{
  font-family: $regular_font;
}
.individual_head,
.individual_text,
.individual_desc{
  color: $white_color;
  font-weight: 400;
}
.individual_head{
  font-size: em(36);
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 50px;
  @media (max-width: 1199px) {
    font-size: em(30);
  }
  @media (max-width: 767px) {
    font-size: em(24);
  }
}
.individual_text{
  font-size: em(24);
  @media (max-width: 1199px) {
    font-size: em(20);
  }
}
.individual_desc{
  font-family: $regular_font;
  font-size: em(16);
  line-height: 26px;
  margin-top: 25px;
  @media (max-width: 1199px) {
    font-size: em(14);
  }
}
.individual_bottom{
  padding-top: 115px;
  @media (max-width: 767px) {
    padding-top: 15px;
  }
}

/* ============SHOP PAGE============ */
.shop_head{
  color: $sub_nav_color;
  font-family: $regular_font;
  font-size: em(30);
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  @media (max-width: 767px) {
    font-size: em(22);
  }
}
.shop_text{
  color: $sub_nav_color;
  font-family: $regular_font;
  line-height: 24px;
  font-size: em(16);
  font-weight: 400;
  span{
    font-size: 18px;
    font-weight: 700;
    font-family: $regular_font;
  }
}
.shop_item{
  margin-bottom: 35px;
}
.shop_inner{
  padding-top: 80px;
  padding-bottom: 230px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}
.shop_first_wrap{
  .shop_inner{
    @media (max-width: 767px) {
      padding-bottom: 0;
    }
  }
}

.shop_second_wrap{
  padding-top: 190px;
  background: url(../img/shop_second_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  .shop_text,.shop_head{
    color: $white_color;
  }
  .shop_effect_sixth{
    img{
      top: 390px;
      left: 0;
    }
  }
  .shop_effect_fifth{
    img{
      top: 220px;
      left: 200px;
    }
  }
}

/* ============CONTACTS PAGE================ */
#contacts,
#portfolio,
#portfolio_inner{
  header{
    background: url(../img/contacts_header_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
  }
}
#contacts,
#portfolio{
  img{
    margin: 0 auto;
  }
}
.contacts_wrap{
  padding-top: 50px;
  padding-bottom: 30px;
}
.contacts_head{
  color: $sub_nav_color;
  font-family: $regular_font;
  font-size: em(14);
  font-weight: 900;
  line-height: 14px;
  text-transform: uppercase;
}
.contacts_list{
  padding-left: 0;
  margin-bottom: 30px;
  li{
    list-style-type: none;
    margin-bottom: 5px;
    a,span{
      color: $sub_nav_color;
      font-family: $regular_font;
      font-size: em(18);
      font-weight: 400;
      line-height: 18px;
    }
    a{
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.contacts_map{
  height: 500px;
}
#map {
  height: 100%;
}
.map_content{
  color: $map_text_color;
  font-family: $regular_font;
  font-size: em(18);
  font-weight: 900;
  line-height: 26px;
  margin-bottom: 0;
}
.gm-style-iw {
  overflow: visible !important;
  position: relative;
  &::before {
    content: '';
    width: calc(100% + 60px);
    height: calc(100% + 24px);
    position: absolute;
    background-color: transparent;
    border-radius: 30px;
    top: -11px;
    left: -30px;
    border: 16px solid #fff;
  }

  div {
    overflow: visible !important;
  }
}

/* ===========CORPORATION PAGE============ */
#corporation{
  .shop_effect_two{
    img{
      top: 340px;
      left: 80px;
    }

  }
  .shop_effect_three{
    img{
      top: 15%;
      top: 200px;
      left: 280px;
    }
  }
}

/* ============ABOUT_US PAGE============= */
#about_us{
  .discuss_us{
    padding: 10px 30px;
    margin-top: 5px;
  }
  button.trigger {
    padding: 0;
    color: #fff;
    border: none;
  }

  .dialog,
  .dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
  }

  .dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba(55, 58, 71, 0.9);
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
  }

  .dialog__content {
    width: 50%;
    background: transparent;
    text-align: center;
    position: relative;
    z-index: 5;
    opacity: 0;
    img{
      margin: 0 auto;
    }
  }

  .dialog--open .dialog__content {
    pointer-events: auto;
  }
  .sally .dialog__overlay {
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .sally .dialog.dialog--open .dialog__content,
  .sally .dialog.dialog--close .dialog__content {
    -moz-animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .sally .dialog.dialog--open .dialog__content {
    -moz-animation-name: sally-open;
    -webkit-animation-name: sally-open;
    animation-name: sally-open;
    -moz-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  }
  .sally .dialog.dialog--close .dialog__content {
    -moz-animation-name: sally-close;
    -webkit-animation-name: sally-close;
    animation-name: sally-close;
  }

  @-moz-keyframes sally-open {
    0% {
      opacity: 0;
      -moz-transform: scale3d(0, 0, 1);
      transform: scale3d(0, 0, 1);
    }
    100% {
      opacity: 1;
      -moz-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @-webkit-keyframes sally-open {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0, 0, 1);
      transform: scale3d(0, 0, 1);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes sally-open {
    0% {
      opacity: 0;
      -moz-transform: scale3d(0, 0, 1);
      -ms-transform: scale3d(0, 0, 1);
      -webkit-transform: scale3d(0, 0, 1);
      transform: scale3d(0, 0, 1);
    }
    100% {
      opacity: 1;
      -moz-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @-moz-keyframes sally-close {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -moz-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
  }
  @-webkit-keyframes sally-close {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
  }
  @keyframes sally-close {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -moz-transform: scale3d(0.5, 0.5, 1);
      -ms-transform: scale3d(0.5, 0.5, 1);
      -webkit-transform: scale3d(0.5, 0.5, 1);
      transform: scale3d(0.5, 0.5, 1);
    }
  }
  .don .dialog.dialog--open .dialog__content,
  .don .dialog.dialog--close .dialog__content {
    -moz-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .don .dialog.dialog--open .dialog__content {
    -moz-animation-name: don-open;
    -webkit-animation-name: don-open;
    animation-name: don-open;
  }
  .don .dialog.dialog--close .dialog__content {
    -moz-animation-name: don-close;
    -webkit-animation-name: don-close;
    animation-name: don-close;
    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -moz-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  header{
    background: url(../img/about_us_top_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
  }
  .shop_text{
    margin-bottom: 35px;
    span{
      font-family: $regular_font;
      font-weight: 900;
    }
  }
  .serts_wrap{
    margin-bottom: 20px;
    width: 19%;
    margin-right: 1%;
    &:last-child{
      margin-right: 0;
    }
    @media (max-width: 767px) {
      width: 32%;
      margin-right: 1%;
    }
    @media (max-width: 425px) {
      width: 49%;
    }
  }
}
.about_us_top{
  position: relative;
  padding-bottom: 10px;
}
.first_about_us{
  padding: 50px 0 70px 0;
  border-top: 1px solid $discuss_link;
}
.about_us_head{
  display: inline-block;
}
.about_us_head,
.about_us_span,
.about_us_subhead{
  color: $white_color;
}
.about_us_head,
.about_us_subhead{
  text-shadow: 0 10px 22px rgba(0, 0, 0, 0.35);
  font-size: em(95);
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  @media (max-width: 767px) {
    font-size: em(54);
  }
}
.about_us_head{
  font-family: $regular_font;
  position: relative;
}
.about_us_span{
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  right: -50px;
  top: 42px;
  @media (max-width: 767px) {
    font-size: 11px;
    right: -30px;
    top: 23px;
  }
}
.about_us_span,
.about_us_subhead{
  font-weight: 400;
  font-family: "Raleway-Regular", sans-serif;
}
.about_us_right{
  @media (max-width: 991px) {
    display: none;
  }
  img{
    position: absolute;
  }
}
.about_us_page_head{
  color: $sub_nav_color;
  font-family: $regular_font;
  font-size: em(30);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 40px;
}
.team_item_wrap{
  margin-bottom: 65px;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
  img{
    -webkit-box-shadow: 0 8px 20px rgba(102, 102, 102, 0.5);
    box-shadow: 0 8px 20px rgba(102, 102, 102, 0.5);
    border-radius: 100%;
    margin: 0 auto 30px auto;
  }
}
.team_item_name,
.team_item_todo{
  color: $sub_nav_color;
  font-size: em(17);
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.team_item_name{
  font-weight: 400;
  font-family: $regular_font;
}
.team_item_todo{
  font-weight: 900;
  font-family: $regular_font;
}
.glasses_wrap{
  margin-bottom: 90px;
  @media (max-width: 767px) {
    margin-bottom: 45px;
  }
}

/* ===============PORTFOLIO PAGE =============*/
#portfolio{
  .profi{
    margin-top: 70px;
    margin-bottom: 40px;
  }
}
.third_block_wrapper{
  display: inline-block;
  width: 100%;
}
.portfolio_item{
  position: relative;
  overflow: hidden;
  &:hover{
    img{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
  @media (max-width: 767px) {
    width: 50%;
  }
  @media (max-width: 580px) {
    width: 100%;
  }
  img{
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    position: static;
  }
}
.inner_portfolio_wrap{
  padding: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.inner_portfolio{
  height: 100%;
  background: $half_black_bg;
  opacity: 0;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  padding: 0 10px;
  position: relative;
  &:hover{
    opacity: 1;
  }
  .protfolio_text_wrap{
    position: absolute;
    bottom: 40px;
  }
}
.portfolio_head,
.portfolio_text{
  color: $white_color;
}
.portfolio_head{
  font-family: $regular_font;
  font-size: em(32);
  margin-bottom: 10px;
  padding-bottom: 15px;
  line-height: 32px;
  position: relative;
  text-align: left;
  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 135px;
    height: 2px;
    background: $white_bg;
  }
  @media (max-width: 991px) {
    font-size: em(18);
    line-height: 18px;
  }
}
.portfolio_text{
  font-family: $regular_font;
  font-size: em(18);
  @media (max-width: 991px) {
    font-size: em(14);
    line-height: 14px;
  }
}


/* ==============PORTFOLIO INNER PAGE =============*/
.portfolio_inner_head{
  color: $portfolio_inner_head;
  font-family: $regular_font;
  font-size: em(18);
  font-weight: 900;
  margin-top: 45px;
  margin-bottom: 35px;
}
.portfolio_inner_text{
  color: $portfolio_inner_head;;
  font-family: $regular_font;
  line-height: 24px;
  font-size: em(16);
  font-weight: 400;
  span{
    font-size: 18px;
    font-weight: 700;
    display: block;
  }
}
.portfolio_page{
  .some_about_us{
    padding-left: 0;
  }
}
/* ===========MODAL WINDOW============ */
.modal-content{
  background-image: url(../img/modal_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  .fofmCall{
    .discuss_us_modal{
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .modal_file_wrap{
    position: relative;
    width: 90%;
    margin: 10px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    .modile_file_item{
      height: 100%;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: 0;
      margin-right: 5px;
      text-decoration: underline;
      line-height: 14px;
      cursor: pointer;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-weight: normal;
      img{
        margin-left: 5px;
        margin-top: 0;
      }
    }
  }
  .file{
    display: none;
  }
  #loaded_file_name{
    margin-left: 15px;
  }
  .modal_logo{
    margin-top: 15px;
  }
  button{
    &.close{
      position: absolute;
      right: 30px;
      top: 10px;
      font-size: 40px;
    }
  }
  .file{
    margin: 15px auto 0 auto;
  }
  .modal-content_items{
    input, textarea{
      width: 90%;
      background: transparent;
      border: none;
      padding: 0 10px 10px 0;
      margin-bottom: 10px;
      outline: none;
      font-family: $regular_font;
      font-weight: 400;
      line-height: 17px;
      color: $portfolio_inner_head;
      font-size: em(17);
      cursor: pointer;
    }
    textarea{
      padding-top: 10px;
    }
    .modal_border{
      border-bottom: $modal_border;
    }
    .modal_text_wrap{
      width: 100%;
      background: $white_bg;
    }
  }
  .discuss_us_modal{
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    &:after{
      content: '';
      display: inline-block;
      position: absolute;
      background: url(../img/discuss_icon.png);
      background-repeat: no-repeat;
      width: 37px;
      height: 37px;
      right: 10px;
      top: 50%;
      margin-top: -18px;
    }
  }
  .discuss_us{
    padding: 0;
    .discuss_us_input{
      background: transparent;
      border: none;
      padding: 12px 65px 12px 50px;
    }
  }

  .modal_head,
  .modal_text	{
    color: $portfolio_inner_head;
    line-height: 17px;
  }
  .modal_head{
    font-family: $regular_font;
    font-size: em(20);
    font-weight: 900;
    margin: 15px 0;
  }
  .modal_text{
    font-family: $regular_font;
    font-size: em(16);
    font-weight: 400;
    margin-bottom: 20px;
  }
}
.slick-arrow{
  @media (max-width: 1199px) {
    display: none!important;
  }
}
.text_center_mobile{
  @media (max-width: 767px) {
    text-align: center;
  }
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
  pointer-events: none;
}

.modalDialog:target {
  display: block;
  pointer-events: auto;
}


.modalDialog > div {
  width: 300px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modalDialog {
  form {
    display: block;
    text-align: center;
  }

  input {
    display: block;
    width: 100%;
    margin: 10px 0;
  }

  input[type="submit"] {
    width: auto;
    margin: 10px auto 0;
    border: 0;
    cursor: pointer;
  }

  .close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover {
    background: #00d9ff;
  }

  .hidden {
    display: none !important;
  }
}

.animated-background {
  background: #2196f3;
  background: -moz-linear-gradient(-45deg, #EE7752, #E73C7E, #2196f3, #23D5AB);
  background: -webkit-linear-gradient(-45deg, #EE7752, #E73C7E, #2196f3, #23D5AB);
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #2196f3, #23D5AB);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EE7752', endColorstr='#E73C7E',GradientType=1 );
  background-size: 400% 400%;

  -webkit-animation-name: Gradient;
  -moz-animation-name: Gradient;
  -o-animation-name: Gradient;
  animation-name: Gradient;

  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s;

  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  animation-timing-function: ease;
}

@-webkit-keyframes Gradient {
  0% {background-position: 0 0}
  50% {background-position: 100% 50%}
  100% {background-position: 0 0}
}
@-moz-keyframes Gradient {
  0% {background-position: 0 0}
  50% {background-position: 100% 50%}
  100% {background-position: 0 0}
}
@keyframes Gradient {
  0% {background-position: 0 0}
  50% {background-position: 100% 50%}
  100% {background-position: 0 0}
}