@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?v=#");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix&v=") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2?v=#") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff?v=#") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf?v=#") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg?v=##fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Thin';
  src: url("../fonts/Raleway-Thin/Raleway-Thin.eot");
  src: url("../fonts/Raleway-Thin/Raleway-Thin.eot?iefix") format("eot"), url("../fonts/Raleway-Thin/Raleway-Thin.woff") format("woff"), url("../fonts/Raleway-Thin/Raleway-Thin.ttf") format("truetype"), url("../fonts/Raleway-Thin/Raleway-Thin.svg#Raleway-Thin/Raleway-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Black';
  src: url("../fonts/Raleway-Black/Raleway-Black.eot");
  src: url("../fonts/Raleway-Black/Raleway-Black.eot?iefix") format("eot"), url("../fonts/Raleway-Black/Raleway-Black.woff") format("woff"), url("../fonts/Raleway-Black/Raleway-Black.ttf") format("truetype"), url("../fonts/Raleway-Black/Raleway-Black.svg#Raleway-Black/Raleway-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Regular';
  src: url("../fonts/Raleway-Regular/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular/Raleway-Regular.eot?iefix") format("eot"), url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular/Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Light';
  src: url("../fonts/Raleway-Light/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light/Raleway-Light.eot?iefix") format("eot"), url("../fonts/Raleway-Light/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light/Raleway-Light.svg#Raleway-Light/Raleway-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold/Raleway-Bold.eot?iefix") format("eot"), url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold/Raleway-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.eot?iefix") format("eot"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.woff") format("woff"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf") format("truetype"), url("../fonts/Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway-ExtraBold/Raleway-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway-Medium';
  src: url("../fonts/Raleway-Medium/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium/Raleway-Medium.eot?iefix") format("eot"), url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("truetype"), url("../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium/Raleway-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FiraSans-Regular';
  src: url("../fonts/FiraSans-Regular/FiraSans-Regular.eot");
  src: url("../fonts/FiraSans-Regular/FiraSans-Regular.eot?iefix") format("eot"), url("../fonts/FiraSans-Regular/FiraSans-Regular.woff") format("woff"), url("../fonts/FiraSans-Regular/FiraSans-Regular.ttf") format("truetype"), url("../fonts/FiraSans-Regular/FiraSans-Regular.svg#FiraSans-Regular/FiraSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MinionPro-It';
  src: url("../fonts/MinionPro-It/MinionPro-It.eot");
  src: url("../fonts/MinionPro-It/MinionPro-It.eot?iefix") format("eot"), url("../fonts/MinionPro-It/MinionPro-It.woff") format("woff"), url("../fonts/MinionPro-It/MinionPro-It.ttf") format("truetype"), url("../fonts/MinionPro-It/MinionPro-It.svg#MinionPro-It/MinionPro-It") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* ===========FONT FAMILY===========*/
/* ===========COLOR============= */
/* ============BACKGROUND =========*/
/* ==========FONT SIZE ============*/
/* ===============BORDERS ==========*/
/* =======Mixins =========*/
/* SOME CUSTOM RESET */
body {
  overflow-x: hidden; }

h3, h4 {
  font-size: 16px; }

a, button, input, img, li {
  outline: none; }

input, textarea, button {
  outline: none !important; }

ul li {
  list-style-type: none; }

img {
  max-width: 100%;
  height: auto; }

/* ===========GENERAL ============*/
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex_wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.align_center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.justify_content_between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.justify_content_end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.no_padding_right {
  padding-right: 0; }

.no_margin {
  margin: 0 !important; }

.no_padding {
  padding: 0; }

.white_text {
  color: #fff !important; }

.display_inline_block {
  display: inline-block; }

.text_center {
  text-align: center; }

/* ============FIRST BLOCK================= */
header {
  position: relative; }
  header .navigation {
    position: static;
    margin-left: -1px; }
    header .navigation .close_menu {
      display: none; }
      @media (max-width: 767px) {
        header .navigation .close_menu {
          display: block; } }
    @media (max-width: 767px) {
      header .navigation {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }

.nav_list li a {
  color: #fefefe;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 35px;
  border-radius: 16px;
  transition: all ease .3s; }
  .nav_list li a:hover {
    background-color: #6a3fb6; }

.first_block {
  width: 100%;
  background: url(../img/top_page_bg.jpg);
  background-size: 100% 100%;
  overflow: hidden; }
  @media (min-width: 767px) {
    .first_block {
      min-height: 98vh;
      position: relative; } }
  .first_block header > .container {
    padding-top: 12px;
    padding-bottom: 12px; }
  .first_block .discuss_us {
    margin-bottom: 15px; }
  .first_block .call_back.big {
    margin-right: 28px; }

.call_back {
  color: #fff;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f4f4f4;
  background-image: linear-gradient(to right, #ff6a80 0%, #ffa680 100%);
  border-radius: 20px;
  box-shadow: 0 7px 12px rgba(2, 76, 106, 0.1);
  padding: 11px 37px;
  display: inline-block;
  letter-spacing: 1px; }
  .call_back.big, .call_back.transparent {
    font-size: 1em;
    border-radius: 25px; }
  .call_back.big {
    padding: 17px 63px; }
  .call_back.transparent {
    border: 2px solid #fff;
    background: transparent;
    box-shadow: none;
    padding: 15px 30px; }

.shop_effect {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%; }
  .shop_effect img {
    position: absolute; }
  @media (max-width: 991px) {
    .shop_effect {
      display: none; } }

.shop_effect_one {
  z-index: 3; }
  .shop_effect_one img {
    top: 420px;
    right: 33vw; }

.shop_effect_two img {
  top: 165px;
  right: 18vw; }

.shop_effect_three {
  z-index: 2; }
  .shop_effect_three img {
    top: 250px;
    right: -17vw; }

.see_more {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  bottom: -19px; }
  @media (max-width: 767px) {
    .see_more {
      position: relative;
      display: inline-block; } }

.profi_wrap {
  margin-bottom: 50px; }

.profi,
.profi_bold {
  color: #000;
  font-family: "Raleway-Light", sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 14px; }

.profi_bold {
  font-family: "Raleway-Black", sans-serif;
  font-weight: 900; }

/* =============SECOND BLOCK==================*/
.second_block {
  background-color: #f6f9fd;
  padding: 100px 0; }
  @media (max-width: 991px) {
    .second_block {
      padding: 50px 0; } }

.second_block_item {
  margin-bottom: 150px; }
  .second_block_item.last {
    margin-bottom: 0; }

.second_block_headings,
.second_block_text {
  font-family: "Raleway-ExtraBold", sans-serif; }

.second_block_headings {
  color: #201f1f;
  font-size: 1.375em;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px; }

.second_block_text {
  color: #60656f;
  font-size: 1.125em;
  font-family: "Raleway-Regular", sans-serif;
  font-weight: 400; }

/* ===========THIRD BLOCK ============*/
.third_block {
  padding-top: 70px;
  padding-bottom: 50px; }

.third_block_item {
  margin-top: 20px;
  padding-bottom: 100px;
  background-position: top center;
  background-repeat: no-repeat; }
  .third_block_item.first {
    background-image: url(../img/new_img/smartphone.png); }
  .third_block_item.second {
    background-image: url(../img/new_img/shopping-cart.png); }
  .third_block_item.third {
    background-image: url(../img/new_img/shopping-basket.png); }
  .third_block_item.fourth {
    background-image: url(../img/new_img/line-chart.png); }
  .third_block_item.fifth {
    background-image: url(../img/new_img/credit-card.png); }
  .third_block_item.sixth {
    background-image: url(../img/new_img/server.png); }
    .third_block_item.sixth .play_fair {
      line-height: 76px; }

.play_fair {
  color: #ff8380;
  font-family: "Playfair Display", serif;
  font-size: 8.125em;
  font-weight: 900;
  font-style: italic;
  line-height: 44px; }

/* ==============FOURHT BLOCK ============*/
.fourth_block {
  background-image: url(../img/new_img/fourth_block_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px; }
  .fourth_block .fourth_block_item {
    margin-top: 60px; }

.fourth_block_head,
.fourth_block_head_bold {
  color: #fff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 2.25em;
  font-weight: 400;
  margin: 0; }

.fourth_block_head_bold {
  font-family: "Raleway-Black", sans-serif;
  font-weight: 900;
  margin-top: 10px; }

#newForm .newForm_inner,
#newFormSecond .newForm_inner {
  border-radius: 34px;
  border: 7px solid rgba(255, 255, 255, 0.11);
  position: relative; }

#newForm form,
#newFormSecond form {
  padding: 0 0 0 25px;
  background: #fff;
  border-radius: 28px; }

#newForm p,
#newFormSecond p {
  margin-bottom: 0; }

#newForm .error_wrap,
#newFormSecond .error_wrap {
  display: block;
  position: absolute;
  bottom: 0;
  color: red;
  font-size: 0.75em; }

#newForm input, #newForm button,
#newFormSecond input,
#newFormSecond button {
  padding: 0;
  border: none;
  border-radius: 28px; }

#newForm input,
#newFormSecond input {
  color: #928b8b;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.5em;
  font-weight: 400; }

#newForm button,
#newFormSecond button {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 0 60px;
  color: #cb40e0;
  font-family: "Raleway-ExtraBold", sans-serif;
  font-size: 1.125em;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: -7px 0 12px rgba(2, 76, 106, 0.32);
  background: #fff; }

#newForm input, #newForm button,
#newFormSecond input, #newFormSecond button, .resultPlace {
  height: 56px; }

.resultPlace {
  margin-bottom: 0;
  margin-top: 10px;
  height: auto;
  text-align: center; }
  .resultPlace .result {
    color: #cb40e0;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 1em;
    display: inline-block;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 28px; }
    .resultPlace .result i {
      color: #55c65e; }

/* ==============FIFTH BLOCK ============*/
.fifth_block {
  position: relative;
  padding-bottom: 100px; }
  .fifth_block .fifth_block_colums {
    background-image: url(../img/new_img/fifth_text_bg.png);
    background-position: top left;
    background-repeat: no-repeat;
    margin-top: 95px;
    padding-top: 50px; }
  .fifth_block #shop_effects_fourth {
    left: 0; }
    .fifth_block #shop_effects_fourth .shop_effect_one_fifth img {
      top: 130px; }
    .fifth_block #shop_effects_fourth .shop_effect_two_fifth img {
      top: 85px;
      left: 32%; }
    .fifth_block #shop_effects_fourth .shop_effect_three_fifth img {
      top: 150px;
      left: 20%; }
    .fifth_block #shop_effects_fourth .shop_effect_four_fifth img {
      top: 180px;
      left: 15%; }
    .fifth_block #shop_effects_fourth .shop_effect_five_fifth img {
      top: 550px;
      left: 20%; }

.some_about_us,
.some_about_us_text,
.fifth_block_list li p {
  color: #000; }

.some_about_us {
  font-family: "Raleway-Black", sans-serif;
  font-size: 2.25em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 25px; }
  .some_about_us.white {
    color: #fff; }

.some_about_us_text {
  font-family: "Raleway-Light", sans-serif;
  font-size: 1.375em;
  font-weight: 300;
  margin-bottom: 0; }
  .some_about_us_text.center {
    margin-top: 60px; }

.fifth_block_list {
  margin-top: 55px; }

.fifth_block_list li {
  margin-bottom: 45px; }
  .fifth_block_list li p {
    font-family: "Raleway-ExtraBold", sans-serif;
    font-size: 1.4375em;
    font-weight: 700; }
    .fifth_block_list li p span {
      display: block;
      font-family: "Raleway-Light", sans-serif;
      font-weight: 300;
      margin-top: 10px; }

/* ==============SIXTH BLOCK ============*/
.sixth_block {
  background-color: #181d37;
  padding-top: 95px;
  padding-bottom: 95px; }
  .sixth_block.six .sixth_block_inner {
    padding-bottom: 120px; }
  .sixth_block .sixth_block_inner {
    background-color: #252d47;
    border-radius: 10px;
    max-width: 1470px;
    margin: 0 auto; }
  .sixth_block .some_about_us {
    margin-top: 0; }
  .sixth_block .some_about_us,
  .sixth_block .some_about_us_text {
    color: #fff; }

.sixth_block_head {
  background-image: url(../img/new_img/sixth_text_bg.png);
  background-repeat: no-repeat;
  padding: 45px 0;
  margin-top: 10px;
  margin-bottom: 60px; }

.slider-nav .some_about_us,
.slider-nav_second .some_about_us {
  font-size: 1.875em;
  text-transform: none; }

.slider-nav .some_about_us_text,
.slider-nav_second .some_about_us_text {
  font-family: "Raleway-Light", sans-serif;
  font-size: 1.375em;
  font-weight: 300; }

.slider-nav > button,
.slider-nav_second > button {
  position: absolute;
  top: 100%;
  background: transparent;
  border: 1px solid white;
  border-radius: 100%;
  width: 58px;
  height: 58px;
  cursor: pointer;
  color: #fff;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0; }
  .slider-nav > button.slick-next,
  .slider-nav_second > button.slick-next {
    left: 85px; }

.slider-for,
.slider-for_second {
  margin-top: 60px; }
  .slider-for img,
  .slider-for_second img {
    max-width: 100% !important;
    height: auto !important;
    width: auto !important; }

.slick-dots {
  display: flex;
  align-items: center; }
  .slick-dots li {
    text-indent: -5000px;
    width: 13px;
    height: 13px;
    background-color: #ff7180;
    border-radius: 100%;
    margin-right: 25px;
    cursor: pointer; }
    .slick-dots li:last-child {
      margin-right: 0; }
    .slick-dots li.slick-active {
      width: 26px;
      height: 26px; }

.slick-dots,
.slider-nav button,
.slider-nav_second button {
  margin-top: 35px; }

/* ==============SEVENTH BLOCK ============*/
.seventh_block {
  background-color: #f6f9fd;
  padding-top: 95px;
  padding-bottom: 95px; }
  .seventh_block.seven .seventh_block_inner {
    padding-bottom: 120px; }
  .seventh_block .seventh_block_inner {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.17);
    max-width: 1470px;
    margin: 0 auto; }
  .seventh_block .sixth_block_head {
    background-image: url(../img/new_img/seventh_text_bg.png); }
  .seventh_block .some_about_us {
    margin-top: 0; }
  .seventh_block .slider-nav_second button {
    border-color: #ff7180;
    color: #ff7180;
    line-height: 0; }

/* ==============EIGHT BLOCK ============*/
.eight_block .sixth_block_head {
  background-image: url(../img/new_img/eight_text_bg.png); }

.eigth_block_img {
  margin-top: 70px; }

/* ==============NINETH BLOCK ============*/
.nineth_block .row,
.eight_block .row {
  padding-bottom: 20px; }

.nineth_block .sixth_block_head {
  background-image: url(../img/new_img/nineth_text_bg.png);
  margin-bottom: 20px; }

/* ==============TENTH BLOCK ============*/
.tenth_block {
  padding-bottom: 100px; }
  .tenth_block .fourth_block_head {
    margin-top: 70px; }
  .tenth_block .second_block_headings,
  .tenth_block .second_block_text {
    color: #fff; }
  .tenth_block .second_block_headings {
    margin-bottom: 20px; }
  .tenth_block .third_block_item {
    margin-top: 90px;
    padding-bottom: 0; }
  .tenth_block .container-fluid > .row {
    padding-bottom: 100px; }
  .tenth_block .row {
    padding-bottom: 0; }

/* ==============ELEVENTH BLOCK ============*/
.eleventh_block {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url(../img/new_img/eleventh_block_bg.jpg);
  background-repeat: no-repeat; }
  .eleventh_block .fourth_block_head,
  .eleventh_block .fourth_block_head_bold {
    color: #000; }
  .eleventh_block .fourth_block_head_bold {
    margin-bottom: 38px; }
  .eleventh_block .call_back.big {
    padding-left: 35px;
    padding-right: 35px; }
  .eleventh_block .call_back.ten {
    background-image: -webkit-linear-gradient(bottom, #fd74ba 0%, #f14de7 35%, #8140be 65%, #604bda 100%);
    background-image: -o-linear-gradient(bottom, #fd74ba 0%, #f14de7 35%, #8140be 65%, #604bda 100%);
    background-image: linear-gradient(to right, #fd74ba 0%, #f14de7 35%, #8140be 65%, #604bda 100%);
    -webkit-box-shadow: 0px 28px 35px -15px #bfb4ed;
    -moz-box-shadow: 0px 28px 35px -15px #bfb4ed;
    box-shadow: 0px 28px 35px -15px #bfb4ed; }
  .eleventh_block .call_back.last {
    margin-top: 32px; }
    .eleventh_block .call_back.last.big {
      padding-left: 60px;
      padding-right: 60px;
      -webkit-box-shadow: 0px 28px 35px -15px #fcb8bf;
      -moz-box-shadow: 0px 28px 35px -15px #fcb8bf;
      box-shadow: 0px 28px 35px -15px #fcb8bf; }
  .eleventh_block .eleventh_block_item {
    margin-top: 10px;
    padding-top: 46px;
    position: relative; }
    .eleventh_block .eleventh_block_item:after, .eleventh_block .eleventh_block_item:before {
      content: '|';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 1px;
      height: 15px;
      color: #59606a; }
    .eleventh_block .eleventh_block_item:before {
      top: 20px; }
    .eleventh_block .eleventh_block_item p.orange {
      color: #ff9d80;
      font-family: "Playfair Display", serif;
      font-size: 1.875em;
      font-weight: 700; }
    .eleventh_block .eleventh_block_item .second_block_text {
      color: #000; }

/* ==============FOOTER BLOCK ============*/
footer {
  background-color: #15191d;
  padding: 35px 0 65px 0; }
  @media (max-width: 767px) {
    footer {
      padding: 25px 0; } }
  footer .footer_text_for_robots {
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    color: #e3e3e3;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 26px; }
    @media (max-width: 767px) {
      footer .footer_text_for_robots {
        font-size: 0.9375em;
        line-height: 20px; } }
  footer .footer_contacts_line {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px; }
    @media (max-width: 767px) {
      footer .footer_contacts_line {
        margin-bottom: 15px; } }
  footer h3 {
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    color: #fff;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1.5625em;
    font-weight: 400;
    line-height: 25px;
    padding-bottom: 25px;
    position: relative;
    margin-bottom: 18px;
    display: inline-block;
    width: 100%; }
    @media (max-width: 767px) {
      footer h3 {
        font-size: 1.375em; } }
    @media (max-width: 425px) {
      footer h3 {
        margin-top: 0; } }
    footer h3:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #fffefe;
      background-image: linear-gradient(to right, #fe9b84 0%, #ee4aea 35%, #7f40be 65%, #4e57fe 100%);
      box-shadow: 0 0 7px rgba(254, 155, 132, 0.35); }
  footer p, footer span, footer a {
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    color: #fff;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 17px;
    -webkit-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s; }
    @media (max-width: 767px) {
      footer p, footer span, footer a {
        font-size: 0.9375em;
        line-height: 20px; } }
  footer p {
    margin-bottom: 0; }
  footer a:hover {
    color: #fff;
    opacity: 0.8; }
  footer .footer_social {
    padding: 0; }
    footer .footer_social li {
      display: inline-block;
      list-style-type: none;
      margin-right: 25px;
      background-color: #2b343e;
      background-image: linear-gradient(180deg, #ff9e80 0%, #ff7180 100%);
      border-radius: 100%;
      width: 48px;
      height: 48px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
      footer .footer_social li:last-child {
        margin-right: 0; }
      @media (max-width: 767px) {
        footer .footer_social li {
          margin-right: 12px; } }
      footer .footer_social li i {
        font-size: 1.875em;
        font-weight: 400;
        line-height: 23px; }

.footer_list {
  margin-bottom: 30px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 425px) {
    .footer_list {
      justify-content: flex-start; } }
  .footer_list .footer_list_item {
    position: relative; }
    @media (max-width: 425px) {
      .footer_list .footer_list_item {
        margin-right: 20px;
        margin-bottom: 20px; } }
    .footer_list .footer_list_item:after {
      content: '';
      display: block;
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 100%;
      top: 50%;
      right: -145px;
      margin-top: -3px;
      background-color: #f0ebf3;
      background-image: -webkit-linear-gradient(left, #35ecf9 0%, #07c9fb 100%);
      background-image: -o-linear-gradient(left, #35ecf9 0%, #07c9fb 100%);
      background-image: -webkit-gradient(linear, left top, right top, from(#35ecf9), to(#07c9fb));
      background-image: linear-gradient(to right, #35ecf9 0%, #07c9fb 100%); }
      @media (max-width: 1199px) {
        .footer_list .footer_list_item:after {
          right: -110px; } }
      @media (max-width: 991px) {
        .footer_list .footer_list_item:after {
          right: -75px; } }
      @media (max-width: 767px) {
        .footer_list .footer_list_item:after {
          display: none; } }
    .footer_list .footer_list_item:last-child:after {
      display: none; }

.header_border {
  border-bottom: 1px solid rgba(244, 244, 244, 0.25);
  padding-top: 10px;
  padding-bottom: 10px; }

.logo_text_bold,
.logo_text_thin {
  color: #fff;
  font-size: 2.125em;
  margin-bottom: 0;
  line-height: 28px; }
  @media (max-width: 1200px) {
    .logo_text_bold,
    .logo_text_thin {
      font-size: 1.375em; } }
  @media (max-width: 991px) {
    .logo_text_bold,
    .logo_text_thin {
      line-height: 16px; } }
  @media (max-width: 767px) {
    .logo_text_bold,
    .logo_text_thin {
      text-align: center; } }

.logo_text_bold {
  font-family: "Raleway-Regular", sans-serif;
  font-weight: 900;
  text-transform: uppercase; }

.logo_text_thin {
  font-family: "Raleway-Regular", sans-serif;
  font-weight: 100;
  font-variant: small-caps;
  letter-spacing: 8px; }
  @media (max-width: 1200px) {
    .logo_text_thin {
      letter-spacing: 5px; } }

@media (max-width: 991px) {
  .navbar-default {
    margin-top: 15px; } }

@media (max-width: 991px) and (min-width: 768px) {
  .navbar-default .navbar-nav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; } }

@media (min-width: 768px) {
  .navbar-default .navbar-nav > li.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1000; } }

.navbar-default .navbar-nav > li .dropdown-menu {
  padding: 22px 20px; }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav > li .dropdown-menu {
      padding-left: 0; } }
  @media (min-width: 768px) {
    .navbar-default .navbar-nav > li .dropdown-menu {
      display: inherit;
      opacity: 0;
      visibility: hidden;
      z-index: 0;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s; } }
  .navbar-default .navbar-nav > li .dropdown-menu li {
    padding-bottom: 20px;
    line-height: 15px; }
    .navbar-default .navbar-nav > li .dropdown-menu li:last-child {
      padding-bottom: 0; }
    .navbar-default .navbar-nav > li .dropdown-menu li a {
      padding: 0;
      font-family: "Raleway-Regular", sans-serif;
      font-size: 0.9375em;
      line-height: 15px;
      color: #15191d;
      font-weight: 400; }
      .navbar-default .navbar-nav > li .dropdown-menu li a:hover {
        color: #1381e7;
        font-weight: 700;
        background: transparent; }

.navbar-default .navbar-nav > li > a {
  color: #fefefe;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 5px 35px;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  border-radius: 16px; }
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #6a3fb6;
    color: #fefefe; }
  @media (max-width: 1200px) {
    .navbar-default .navbar-nav > li > a {
      font-size: 14px;
      font-weight: 400;
      padding: 5px 28px; } }

.navbar-default .navbar-nav > .active > a {
  background-color: #6a3fb6;
  border-radius: 16px;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fefefe; }

/* =========АНИМИРОВАННЫЙ ГАМБУРГЕР=========*/
.ham {
  background: none;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  padding: 0;
  border: 0;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms; }
  @media (max-width: 767px) {
    .ham {
      display: block;
      overflow: hidden; } }

.ham:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
  clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%); }

.ham > .bar {
  display: block;
  background: #fff;
  position: absolute;
  left: 10px;
  width: 70%;
  height: 5px;
  border-radius: 6px;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms; }

.ham > .bar:first-child {
  top: 23%;
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right; }

.ham > .bar:nth-child(2) {
  top: 47%;
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms; }

.ham > .bar:last-child {
  bottom: 20%;
  -webkit-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right; }

.ham.opened:before {
  -webkit-animation: open-close 400ms 300ms forwards ease-in;
  animation: open-close 400ms 300ms forwards ease-in; }

.ham.opened:active {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85); }

.ham.opened > .bar {
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  left: 2px;
  -webkit-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg); }

.ham.opened > .bar:nth-child(2) {
  left: 150px;
  width: 0%; }

.ham.opened > .bar:last-child {
  bottom: 20%;
  left: 1px;
  -webkit-transform: rotate(44deg);
  -ms-transform: rotate(44deg);
  transform: rotate(44deg); }

.ham.closed:before {
  -webkit-animation: open-close 400ms forwards reverse ease-out;
  animation: open-close 400ms forwards reverse ease-out; }

@-webkit-keyframes open-close {
  0% {
    -webkit-clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%); }
  25% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);
    clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%); }
  50% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%); }
  75% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%); }
  100% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%); } }

@keyframes open-close {
  0% {
    -webkit-clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 50%, 100% 50%, 100% 50%, 50% 50%); }
  25% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%);
    clip-path: polygon(100% 50%, 100% 0%, 50% 0%, 50% 0%, 50% 0%); }
  50% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 50%, 50% 50%); }
  75% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 50% 100%); }
  100% {
    -webkit-clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(100% 50%, 100% 0%, 0% 0%, 0% 100%, 100% 100%); } }

.first_block_inner {
  margin-top: 8%; }
  @media (max-width: 1365px) {
    .first_block_inner {
      margin-top: 50px; } }
  @media (max-width: 991px) {
    .first_block_inner {
      margin-top: 30px; } }

.first_bold_text,
.first_italic_text,
.first_text_plus {
  color: #fff;
  font-family: "Raleway-Black", sans-serif;
  margin-top: 0;
  margin-bottom: 24px; }

.first_bold_text {
  font-size: 3.9375em;
  font-weight: 900; }
  @media (max-width: 1199px) {
    .first_bold_text {
      font-size: 2.8em; } }
  @media (max-width: 767px) {
    .first_bold_text {
      font-size: 2em;
      line-height: 32px; } }

.first_italic_text {
  font-size: 2.25em;
  font-weight: 900; }

.first_text_plus {
  font-size: 1.6875em;
  font-weight: 300;
  margin-bottom: 32px;
  font-family: "Raleway-Light", sans-serif; }

.first_regular_text {
  color: #fff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.625em;
  line-height: 32px;
  font-weight: 300; }
  @media (max-width: 1199px) {
    .first_regular_text {
      font-size: 1.1375em; } }
  @media (max-width: 767px) {
    .first_regular_text {
      font-size: 0.875em;
      line-height: 20px; } }

@media (max-width: 767px) {
  .mac_img {
    margin-top: 15px; } }

.discuss_us {
  text-shadow: 0 1px 1px rgba(27, 180, 243, 0.76);
  color: #fff;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 0.9375em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, right top, from(#01c4fb), to(#3df1f9));
  background-image: -webkit-linear-gradient(left, #01c4fb 0%, #3df1f9 100%);
  background-image: -o-linear-gradient(left, #01c4fb 0%, #3df1f9 100%);
  background-image: linear-gradient(to right, #01c4fb 0%, #3df1f9 100%);
  border-radius: 25px;
  padding: 17px 62px 17px 40px;
  position: relative;
  display: inline-block;
  border: none;
  position: relative;
  overflow: hidden; }
  .discuss_us.left:after {
    left: 0; }
  .discuss_us.bubble:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all .75s ease-in-out;
    -o-transition: all .75s ease-in-out;
    transition: all .75s ease-in-out; }
  .discuss_us.bubble:active:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 1;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }
  .discuss_us:hover {
    color: #fff;
    text-decoration: none; }
    .discuss_us:hover span:after {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg); }
  .discuss_us span {
    position: relative; }
    .discuss_us span:after {
      content: '';
      display: inline-block;
      position: absolute;
      background: url(../img/discuss_icon.png);
      background-repeat: no-repeat;
      width: 37px;
      height: 37px;
      right: -50px;
      top: 50%;
      margin-top: -18px;
      -webkit-transition: all ease .5s;
      -o-transition: all ease .5s;
      transition: all ease .5s; }
  @media (max-width: 767px) {
    .discuss_us {
      font-size: 0.875em; } }

/* ===========THIRD BLOCK ============*/
.some_about_us {
  color: #201f1f; }

.how_we_work {
  color: #fff;
  text-align: center; }

.we_are {
  color: #747984;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 0.6875em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 18px; }

.third_block_head {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 2.1875em;
  color: #60656f;
  font-weight: 300;
  margin-bottom: 18px; }
  .third_block_head span {
    font-family: "Raleway-Regular", sans-serif;
    color: #1381e7;
    font-weight: 900; }

.tird_block_list {
  margin-top: 55px;
  padding-left: 0; }
  .tird_block_list li {
    color: #747984;
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.625em; }

.third_block_btn {
  margin-top: 55px; }

/* ==============FOURHT BLOCK ============*/
/* ==============SIXTH BLOCK ============*/
.sixth_block_wrapper {
  background-image: url(../img/sixth_block_shape.jpg);
  background-size: cover; }
  @media (max-width: 991px) and (min-width: 768px) {
    .sixth_block_wrapper .discuss_us span:after {
      right: -40px; } }
  .sixth_block_wrapper .sixth_block {
    padding-bottom: 170px; }
    @media (max-width: 767px) {
      .sixth_block_wrapper .sixth_block {
        padding-bottom: 50px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .sixth_block_wrapper .sixth_block .discuss_us {
        padding: 17px 45px 17px 20px;
        position: relative;
        display: inline-block;
        letter-spacing: 1px;
        font-size: 14px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .sixth_block_wrapper .sixth_block .discuss_us {
        letter-spacing: 2px; } }
  .sixth_block_wrapper .sixth_item:first-child .discuss_us span:after {
    background: url(../img/give_me_call.png); }
  .sixth_block_wrapper .sixth_item:nth-child(2) .discuss_us span:after {
    background: url(../img/give_me_letter.png); }
  .sixth_block_wrapper .sixth_item:last-child .discuss_us span:after {
    background: url(../img/give_me_breef.png); }
  @media (max-width: 767px) {
    .sixth_block_wrapper .sixth_item {
      margin-bottom: 15px; } }
  .sixth_block_wrapper .sixth_item img {
    margin: 0 auto; }

.pinguin_bg {
  padding: 120px 0;
  background-image: url(../img/pinguin_bg.png);
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 767px) {
    .pinguin_bg {
      padding: 50px 0; } }

/* ==============INDIVIDUAL PAGE========== */
#individual,
#corporation,
#shop,
#info,
#landing {
  background: url(../img/individual_shapes.png);
  background-size: contain; }
  #individual .pinguin_bg,
  #corporation .pinguin_bg,
  #shop .pinguin_bg,
  #info .pinguin_bg,
  #landing .pinguin_bg {
    padding: 35px 0; }
  #individual .some_about_us,
  #corporation .some_about_us,
  #shop .some_about_us,
  #info .some_about_us,
  #landing .some_about_us {
    padding: 0; }
  #individual .discuss_us,
  #corporation .discuss_us,
  #shop .discuss_us,
  #info .discuss_us,
  #landing .discuss_us {
    margin-top: 20px; }
  #individual .individual_radio_wap,
  #corporation .individual_radio_wap,
  #shop .individual_radio_wap,
  #info .individual_radio_wap,
  #landing .individual_radio_wap {
    margin-top: 25px; }
    @media (max-width: 991px) {
      #individual .individual_radio_wap,
      #corporation .individual_radio_wap,
      #shop .individual_radio_wap,
      #info .individual_radio_wap,
      #landing .individual_radio_wap {
        display: none; } }

.individual_text {
  font-family: "Raleway-Regular", sans-serif; }

.individual_head {
  font-family: "Raleway-Regular", sans-serif; }

.individual_head,
.individual_text,
.individual_desc {
  color: #fff;
  font-weight: 400; }

.individual_head {
  font-size: 2.25em;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 50px; }
  @media (max-width: 1199px) {
    .individual_head {
      font-size: 1.875em; } }
  @media (max-width: 767px) {
    .individual_head {
      font-size: 1.5em; } }

.individual_text {
  font-size: 1.5em; }
  @media (max-width: 1199px) {
    .individual_text {
      font-size: 1.25em; } }

.individual_desc {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1em;
  line-height: 26px;
  margin-top: 25px; }
  @media (max-width: 1199px) {
    .individual_desc {
      font-size: 0.875em; } }

.individual_bottom {
  padding-top: 115px; }
  @media (max-width: 767px) {
    .individual_bottom {
      padding-top: 15px; } }

/* ============SHOP PAGE============ */
.shop_head {
  color: #15191d;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.875em;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px; }
  @media (max-width: 767px) {
    .shop_head {
      font-size: 1.375em; } }

.shop_text {
  color: #15191d;
  font-family: "Raleway-Regular", sans-serif;
  line-height: 24px;
  font-size: 1em;
  font-weight: 400; }
  .shop_text span {
    font-size: 18px;
    font-weight: 700;
    font-family: "Raleway-Regular", sans-serif; }

.shop_item {
  margin-bottom: 35px; }

.shop_inner {
  padding-top: 80px;
  padding-bottom: 230px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .shop_inner {
      padding-top: 30px;
      padding-bottom: 50px; } }

@media (max-width: 767px) {
  .shop_first_wrap .shop_inner {
    padding-bottom: 0; } }

.shop_second_wrap {
  padding-top: 190px;
  background: url(../img/shop_second_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px; }
  .shop_second_wrap .shop_text, .shop_second_wrap .shop_head {
    color: #fff; }
  .shop_second_wrap .shop_effect_sixth img {
    top: 390px;
    left: 0; }
  .shop_second_wrap .shop_effect_fifth img {
    top: 220px;
    left: 200px; }

/* ============CONTACTS PAGE================ */
#contacts header,
#portfolio header,
#portfolio_inner header {
  background: url(../img/contacts_header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0; }

#contacts img,
#portfolio img {
  margin: 0 auto; }

.contacts_wrap {
  padding-top: 50px;
  padding-bottom: 30px; }

.contacts_head {
  color: #15191d;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 0.875em;
  font-weight: 900;
  line-height: 14px;
  text-transform: uppercase; }

.contacts_list {
  padding-left: 0;
  margin-bottom: 30px; }
  .contacts_list li {
    list-style-type: none;
    margin-bottom: 5px; }
    .contacts_list li a, .contacts_list li span {
      color: #15191d;
      font-family: "Raleway-Regular", sans-serif;
      font-size: 1.125em;
      font-weight: 400;
      line-height: 18px; }
    .contacts_list li a:hover {
      text-decoration: none; }

.contacts_map {
  height: 500px; }

#map {
  height: 100%; }

.map_content {
  color: #3c3c3c;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.125em;
  font-weight: 900;
  line-height: 26px;
  margin-bottom: 0; }

.gm-style-iw {
  overflow: visible !important;
  position: relative; }
  .gm-style-iw::before {
    content: '';
    width: calc(100% + 60px);
    height: calc(100% + 24px);
    position: absolute;
    background-color: transparent;
    border-radius: 30px;
    top: -11px;
    left: -30px;
    border: 16px solid #fff; }
  .gm-style-iw div {
    overflow: visible !important; }

/* ===========CORPORATION PAGE============ */
#corporation .shop_effect_two img {
  top: 340px;
  left: 80px; }

#corporation .shop_effect_three img {
  top: 15%;
  top: 200px;
  left: 280px; }

/* ============ABOUT_US PAGE============= */
#about_us .discuss_us {
  padding: 10px 30px;
  margin-top: 5px; }

#about_us button.trigger {
  padding: 0;
  color: #fff;
  border: none; }

#about_us .dialog,
#about_us .dialog__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

#about_us .dialog {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  pointer-events: none; }

#about_us .dialog__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

#about_us .dialog--open .dialog__overlay {
  opacity: 1;
  pointer-events: auto; }

#about_us .dialog__content {
  width: 50%;
  background: transparent;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0; }
  #about_us .dialog__content img {
    margin: 0 auto; }

#about_us .dialog--open .dialog__content {
  pointer-events: auto; }

#about_us .sally .dialog__overlay {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s; }

#about_us .sally .dialog.dialog--open .dialog__content,
#about_us .sally .dialog.dialog--close .dialog__content {
  -moz-animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#about_us .sally .dialog.dialog--open .dialog__content {
  -moz-animation-name: sally-open;
  -webkit-animation-name: sally-open;
  animation-name: sally-open;
  -moz-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  -webkit-animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
  animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1); }

#about_us .sally .dialog.dialog--close .dialog__content {
  -moz-animation-name: sally-close;
  -webkit-animation-name: sally-close;
  animation-name: sally-close; }

@-moz-keyframes sally-open {
  0% {
    opacity: 0;
    -moz-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  100% {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes sally-open {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes sally-open {
  0% {
    opacity: 0;
    -moz-transform: scale3d(0, 0, 1);
    -ms-transform: scale3d(0, 0, 1);
    -webkit-transform: scale3d(0, 0, 1);
    transform: scale3d(0, 0, 1); }
  100% {
    opacity: 1;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-moz-keyframes sally-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); } }

@-webkit-keyframes sally-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); } }

@keyframes sally-close {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -moz-transform: scale3d(0.5, 0.5, 1);
    -ms-transform: scale3d(0.5, 0.5, 1);
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1); } }

#about_us .don .dialog.dialog--open .dialog__content,
#about_us .don .dialog.dialog--close .dialog__content {
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

#about_us .don .dialog.dialog--open .dialog__content {
  -moz-animation-name: don-open;
  -webkit-animation-name: don-open;
  animation-name: don-open; }

#about_us .don .dialog.dialog--close .dialog__content {
  -moz-animation-name: don-close;
  -webkit-animation-name: don-close;
  animation-name: don-close;
  -moz-animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -moz-animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out; }

#about_us header {
  background: url(../img/about_us_top_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0; }

#about_us .shop_text {
  margin-bottom: 35px; }
  #about_us .shop_text span {
    font-family: "Raleway-Regular", sans-serif;
    font-weight: 900; }

#about_us .serts_wrap {
  margin-bottom: 20px;
  width: 19%;
  margin-right: 1%; }
  #about_us .serts_wrap:last-child {
    margin-right: 0; }
  @media (max-width: 767px) {
    #about_us .serts_wrap {
      width: 32%;
      margin-right: 1%; } }
  @media (max-width: 425px) {
    #about_us .serts_wrap {
      width: 49%; } }

.about_us_top {
  position: relative;
  padding-bottom: 10px; }

.first_about_us {
  padding: 50px 0 70px 0;
  border-top: 1px solid #f4f4f4; }

.about_us_head {
  display: inline-block; }

.about_us_head,
.about_us_span,
.about_us_subhead {
  color: #fff; }

.about_us_head,
.about_us_subhead {
  text-shadow: 0 10px 22px rgba(0, 0, 0, 0.35);
  font-size: 5.9375em;
  font-weight: 900;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .about_us_head,
    .about_us_subhead {
      font-size: 3.375em; } }

.about_us_head {
  font-family: "Raleway-Regular", sans-serif;
  position: relative; }

.about_us_span {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
  font-size: 20px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  right: -50px;
  top: 42px; }
  @media (max-width: 767px) {
    .about_us_span {
      font-size: 11px;
      right: -30px;
      top: 23px; } }

.about_us_span,
.about_us_subhead {
  font-weight: 400;
  font-family: "Raleway-Regular", sans-serif; }

@media (max-width: 991px) {
  .about_us_right {
    display: none; } }

.about_us_right img {
  position: absolute; }

.about_us_page_head {
  color: #15191d;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.875em;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 40px; }

.team_item_wrap {
  margin-bottom: 65px; }
  @media (max-width: 767px) {
    .team_item_wrap {
      margin-bottom: 30px; } }
  .team_item_wrap img {
    -webkit-box-shadow: 0 8px 20px rgba(102, 102, 102, 0.5);
    box-shadow: 0 8px 20px rgba(102, 102, 102, 0.5);
    border-radius: 100%;
    margin: 0 auto 30px auto; }

.team_item_name,
.team_item_todo {
  color: #15191d;
  font-size: 1.0625em;
  line-height: 23px;
  text-transform: uppercase;
  margin-bottom: 5px; }

.team_item_name {
  font-weight: 400;
  font-family: "Raleway-Regular", sans-serif; }

.team_item_todo {
  font-weight: 900;
  font-family: "Raleway-Regular", sans-serif; }

.glasses_wrap {
  margin-bottom: 90px; }
  @media (max-width: 767px) {
    .glasses_wrap {
      margin-bottom: 45px; } }

/* ===============PORTFOLIO PAGE =============*/
#portfolio .profi {
  margin-top: 70px;
  margin-bottom: 40px; }

.third_block_wrapper {
  display: inline-block;
  width: 100%; }

.portfolio_item {
  position: relative;
  overflow: hidden; }
  .portfolio_item:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  @media (max-width: 767px) {
    .portfolio_item {
      width: 50%; } }
  @media (max-width: 580px) {
    .portfolio_item {
      width: 100%; } }
  .portfolio_item img {
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    position: static; }

.inner_portfolio_wrap {
  padding: 15px;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%; }

.inner_portfolio {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all ease .5s;
  -o-transition: all ease .5s;
  transition: all ease .5s;
  padding: 0 10px;
  position: relative; }
  .inner_portfolio:hover {
    opacity: 1; }
  .inner_portfolio .protfolio_text_wrap {
    position: absolute;
    bottom: 40px; }

.portfolio_head,
.portfolio_text {
  color: #fff; }

.portfolio_head {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 2em;
  margin-bottom: 10px;
  padding-bottom: 15px;
  line-height: 32px;
  position: relative;
  text-align: left; }
  .portfolio_head:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 135px;
    height: 2px;
    background: #fff; }
  @media (max-width: 991px) {
    .portfolio_head {
      font-size: 1.125em;
      line-height: 18px; } }

.portfolio_text {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.125em; }
  @media (max-width: 991px) {
    .portfolio_text {
      font-size: 0.875em;
      line-height: 14px; } }

/* ==============PORTFOLIO INNER PAGE =============*/
.portfolio_inner_head {
  color: #303030;
  font-family: "Raleway-Regular", sans-serif;
  font-size: 1.125em;
  font-weight: 900;
  margin-top: 45px;
  margin-bottom: 35px; }

.portfolio_inner_text {
  color: #303030;
  font-family: "Raleway-Regular", sans-serif;
  line-height: 24px;
  font-size: 1em;
  font-weight: 400; }
  .portfolio_inner_text span {
    font-size: 18px;
    font-weight: 700;
    display: block; }

.portfolio_page .some_about_us {
  padding-left: 0; }

/* ===========MODAL WINDOW============ */
.modal-content {
  background-image: url(../img/modal_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 400px;
  margin: 0 auto;
  position: relative; }
  .modal-content .fofmCall .discuss_us_modal {
    margin-top: 20px;
    margin-bottom: 20px; }
  .modal-content .modal_file_wrap {
    position: relative;
    width: 90%;
    margin: 10px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
    .modal-content .modal_file_wrap .modile_file_item {
      height: 100%;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-bottom: 0;
      margin-right: 5px;
      text-decoration: underline;
      line-height: 14px;
      cursor: pointer;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      font-weight: normal; }
      .modal-content .modal_file_wrap .modile_file_item img {
        margin-left: 5px;
        margin-top: 0; }
  .modal-content .file {
    display: none; }
  .modal-content #loaded_file_name {
    margin-left: 15px; }
  .modal-content .modal_logo {
    margin-top: 15px; }
  .modal-content button.close {
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 40px; }
  .modal-content .file {
    margin: 15px auto 0 auto; }
  .modal-content .modal-content_items input, .modal-content .modal-content_items textarea {
    width: 90%;
    background: transparent;
    border: none;
    padding: 0 10px 10px 0;
    margin-bottom: 10px;
    outline: none;
    font-family: "Raleway-Regular", sans-serif;
    font-weight: 400;
    line-height: 17px;
    color: #303030;
    font-size: 1.0625em;
    cursor: pointer; }
  .modal-content .modal-content_items textarea {
    padding-top: 10px; }
  .modal-content .modal-content_items .modal_border {
    border-bottom: 1px solid #303030; }
  .modal-content .modal-content_items .modal_text_wrap {
    width: 100%;
    background: #fff; }
  .modal-content .discuss_us_modal {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative; }
    .modal-content .discuss_us_modal:after {
      content: '';
      display: inline-block;
      position: absolute;
      background: url(../img/discuss_icon.png);
      background-repeat: no-repeat;
      width: 37px;
      height: 37px;
      right: 10px;
      top: 50%;
      margin-top: -18px; }
  .modal-content .discuss_us {
    padding: 0; }
    .modal-content .discuss_us .discuss_us_input {
      background: transparent;
      border: none;
      padding: 12px 65px 12px 50px; }
  .modal-content .modal_head,
  .modal-content .modal_text {
    color: #303030;
    line-height: 17px; }
  .modal-content .modal_head {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1.25em;
    font-weight: 900;
    margin: 15px 0; }
  .modal-content .modal_text {
    font-family: "Raleway-Regular", sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 20px; }
